/**
* Box mixins
*/

@mixin box($background-color) {
  background-color: $background-color;
}

@mixin box-padded($background-color) {
  background-color: $background-color;
  padding: $space-mobile;
  @include breakpoint($breakpoint-m-min) {
    padding: $space;
  }
}
@mixin box-padded-large($background-color) {
  background-color: $background-color;
  padding: $space;
  @include breakpoint($breakpoint-m-min) {
    padding: $space-large;
  }
}

@mixin box-inset() {
  @include grid-container($neat-grid-small-gutter);
  @include grid-collapse($neat-grid-small-gutter);
  @include breakpoint($breakpoint-m-min) {
    @include grid-container();
    @include grid-collapse();
  }
}
@mixin box-inset-large() {
  @include grid-container();
  @include grid-collapse();
  @include breakpoint($breakpoint-m-min) {
    @include grid-container($neat-grid-large-gutter);
    @include grid-collapse($neat-grid-large-gutter);
  }
}
@mixin box-inset-padded() {
  @include grid-container($neat-grid-small-gutter);
  @include grid-collapse($neat-grid-small-gutter);
  padding-left: $space-mobile;
  padding-right: $space-mobile;
  @include breakpoint($breakpoint-m-min) {
    @include grid-container();
    @include grid-collapse();
    padding-left: $space;
    padding-right: $space;
  }
}
@mixin box-inset-bottom() {
  @include grid-container($neat-grid-small-gutter);
  @include grid-collapse($neat-grid-small-gutter);
  margin-bottom: -$space-mobile;
  @include breakpoint($breakpoint-m-min) {
    @include grid-container();
    @include grid-collapse();
    margin-bottom: -$space;
  }
}