/**
* Buttons
*/

@mixin button($background-color, $color, $padding-h, $padding-v) {
  background-color: $background-color;
  color: $color;
  text-align: center;
  padding: $padding-v $padding-h;
  border: 1px solid $background-color;
  display: inline-block;
  @include transition(color 300ms ease, background-color 300ms ease);
  &:hover {
    color: $background-color;
    background-color: transparent;
  }
}