/**
* Image Styles
*/

@mixin image-circle($width, $height) {
  border-radius: 50%;
  overflow: hidden;
  display: block;
  width: $width;
  height: $height;
  border: 5px solid $white;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,.15);
  position: relative;
  img {
    border-radius: 50%;
    width: 100%;
    max-width: none;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
  }
}