/**
* Typography
*/

@mixin h1() {
  font-size: 2.3em;
  font-weight: 300;
}
@mixin h2() {
  font-size: 2.0em;
  font-weight: 300;
}
@mixin h3() {
  font-size: 1.5em;
  font-weight: 300;
}
@mixin h4() {
  font-size: 1.2em;
  font-weight: 500;
}
@mixin h5() {
  font-size: 1.1em;
  font-weight: 500;
}
@mixin h6() {
  font-size: 1em;
  font-weight: 500;
}

@mixin paragraph() {
  font-size: 1em;
  line-height: 1.5em;
  @include margin(0 null $space-small);
}

@mixin dark-link() {
  color: $darkGray;
  &:hover { color: $mediumGray; }
  > a { color: $darkGray; &:hover { color: $mediumGray; } }
}
