/**
* Utilities
*
* Helper Mixins
*/


@mixin tag($background, $color) {
  background-color: $background;
  border-radius: 2px;
  border: 1px solid $background - 30;
  color: $color;
  display: inline-block;
  .select2-selection__choice__remove {
    color: $color;
  }
}

@mixin text-overflow() {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}
@mixin text-overflow-multi() {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}