/**
* Utilities
*
* Helper Mixins
*/


@mixin tag($background, $borderColor, $color) {
  background-color: $background;
  border-radius: 2px;
  border: 1px solid $borderColor;
  color: $color;
  display: inline-block;
  @include transition(background 300ms ease);
  .select2-selection__choice__remove {
    color: $color;
  }
  &:hover {
    background: $borderColor;
    color: $color;
  }
}

/* Text-Overflow */

@mixin text-overflow() {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}
@mixin text-overflow-multi() {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}

/* Container */

@mixin container() {
  padding-left: $space;
  padding-right: $space;
  padding-left: calc(50% - 680px);
  padding-right: calc(50% - 680px);
  @include grid-container();
}
@mixin container-extended($background-color) {
  @include container();
  background-clip: padding-box;
  background-color: $background-color;
}
@mixin container-regular() {
  max-width: 1360px;
  @include margin(null auto);
  @include padding(null $space);
}
@mixin container-small() {
  @include container();
  padding-left: calc(50% - 530px);
  padding-right: calc(50% - 530px);
}


/* Icon-List */
@mixin icon-list() {
  list-style: none;
  margin: 0;
  padding: 0 0 $space;
  &:last-child {
    padding: 0;
  }
  li {
    margin: 0 0 $space-xsmall-mobile;
    padding: 0 0 0 $space;
    position: relative;
    &:before {
      content: '\e805';
      font-family: 'awfont';
      font-size: .7em;
      position: absolute;
      left: 4px;
      top: 0;
      color: $gray;
    }
  }
  ul {
    padding-top: $space-xsmall;
    padding-bottom: $space-xsmall-mobile;
    &:last-child {
      padding-top: $space-xsmall;
      padding-bottom: $space-xsmall-mobile;
    }
  }
}

/* Icon-List */
@mixin inline-list() {
  list-style: none;
  padding: 0;
  margin: 0;
  @include grid-container();
  li {
    padding: 0;
    margin: 0 $space-small $space-small 0;
    float: left;
    &:last-child {
      padding: 0;
      margin: 0;
    }
  }
}

/* Poll icon colors */
@mixin poll-icon-colors() {
  .icon-ok { color: $color-accepted; }
  .icon-close { color: $color-denied; }
  .icon-ok { color: $color-accepted; }
  .icon-ok { color: $color-accepted; }
}


/* Date inline */
@mixin date-inline() {
  .date__day:after {
    content: '. ';
  }
  .date__month:after {
    content: '. ';
  }
}

/* Date stacked */
@mixin date-stacked() {
  text-align: center;
  font-family: $font-serif;
  font-weight: 900;
  color: $gray;
  .date__day {
    font-size: .7em;
    display: block;
  }
  .date__month {
    font-size: .5em;
    display: block;
  }
  .date__year {
    font-size: .4em;
    display: block;
  }
}
