/**
* Blog
*/

/* Blog-Listenansicht */


.blog.tile {
  @include grid-column(12);
  margin-bottom: $space;
  @include breakpoint($breakpoint-s-min) {
    @include grid-column(6);
    margin-bottom: $space-large;
  }
  @include breakpoint($breakpoint-m-min) {
    @include grid-column(4);
  }
  .tile__title {
    border: 0;
    padding-top: $space;
    padding-bottom: $space;
  }
}

.blog.tile.mh-item {
  padding-bottom: $space-large * 2;
  position: relative;
  @include breakpoint($breakpoint-s-min) {
    @include grid-column(12);
  }
  @include breakpoint($breakpoint-m-min) {
    @include grid-column(4);
  }
  .tile__links {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: auto;
  }
}

/* Blog-Detailansicht */

.blog.detail {
  .share {
    margin-top: $space-large * 2;
  }
}

.blog__header {
  overflow: hidden;
  position: relative;
  z-index: 1;
  .blog__header__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    @include filter(blur(3px));
  }
  &:before,
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
  }
  &:before {
    background: #f3efe6;
    z-index: 9;
    opacity: 1;
    mix-blend-mode: color;
  }
  &:after {
    background: #494334;
    z-index: 99;
    opacity: .6;
    mix-blend-mode: darken;
  }

  .blog__header__content {
    position: relative;
    z-index: 999;
    text-align: center;
    color: $white;
    max-width: 800px;
    margin: 0 auto;
    top: 50%;
    padding: $space-large $space;
    @include breakpoint($breakpoint-s-min) {
      @include padding(60px null);
    }
    @include breakpoint($breakpoint-m-min) {
      @include padding(100px null);
    }
    @include breakpoint($breakpoint-l-min) {
      @include padding(130px null);
    }
    h1 {
      color: $white;
      text-shadow: 1px 1px 0 #000;
    }
    p {
      font-size: 1.2em;
      font-weight: 500;
      text-shadow: 1px 1px 0 #000;
    }
  }
}
.blog__submitted {
  background: $beige;
  padding: $space 0 $space-small;
  margin-bottom: $space-large;
  border-bottom: 1px solid $darkBeige;
  font-size: .8em;
  @include breakpoint($breakpoint-m-min) {
    padding: $space-large 0 $space;
  }
  .container {
    max-width: 900px;
  }
}
.blog__submitted__date {
  padding-bottom: $space-small;
  @include breakpoint($breakpoint-m-min) {
    padding-bottom: 0;
    @include grid-column(5, $neat-grid-no-gutter);
  }
}
.blog__submitted__tags {
  @include grid-container();
  @include breakpoint($breakpoint-m-min) {
    @include grid-column(7, $neat-grid-no-gutter);
  }
  .tag-list {
    @include breakpoint($breakpoint-m-min) {
      float: right;
      display: inline-block;
      margin-top: -3px;
    }
    > li {
      margin-bottom: $space-xsmall-mobile;
    }
  }
}



.blog__content {
  font-size: 16px;
  padding-bottom: $space-large;
  @include breakpoint($breakpoint-s-min) {
    font-size: 18px;
  }
  /* Drupal-Specific */
  p + .floatbox { margin-top: 1.8em; }
  .container {
    max-width: 900px;
  }
  ul {
    @include icon-list();
  }
  .file-image {
    img {
      padding: $space-xsmall-mobile;
      border: 1px solid $darkBeige;
    }
    &.float-left {
      margin-top: $space-large;
      margin-bottom: $space;
      @include breakpoint($breakpoint-s-min) {
        float: left;
        max-width: 300px;
        @include margin($space $space $space null);
      }
      @include breakpoint($breakpoint-l-min) {
        @include margin($space-large $space-large $space-large -100px);
        max-width: 400px;
      }
    }
    &.float-right {
      margin-top: $space-large;
      margin-bottom: $space;
      @include breakpoint($breakpoint-s-min) {
        float: right;
        max-width: 300px;
        @include margin($space null $space $space);
      }
      @include breakpoint($breakpoint-l-min) {
        @include margin($space-large -100px $space-large $space-large);
        max-width: 400px;
      }
    }
  }
  .well--tabs {
    font-size: .9em;
    margin-top: $space-large * 2;
    .node {
      @include grid-container();
    }
    .well__left {
      @include breakpoint($breakpoint-s-min) {
        margin-top: 0;
        margin-bottom: 0;
        padding-right: $space-large;
        @include grid-column(7, $neat-grid-large-gutter);
      }
      h3 {
        font-weight: 900;
      }
    }
    .form {
      border-top: 1px solid $darkBeige;
      padding-top: $space;
      @include grid-column(12);
      @include breakpoint($breakpoint-s-min) {
        border-top: 0;
        padding-top: 0;
        @include grid-column(5, $neat-grid-large-gutter);
        padding-left: $space-large;
      }
    }
    .btn {
      @include button--block();
    }
  }
}
.blog__related {
  .tabs__content {
    background: $beige;
  }
  .tabs__content__content {
    padding: $space 0;
  }
  /* Hide 3rd Blog-Item for Tablet devices */
  .blog.tile:nth-child(3) {
    @include breakpoint($breakpoint-xs-min) { display: none; }
    @include breakpoint($breakpoint-m-min) { display: block; }
  }
}

