/**
* Box definitions
*/


/* tile wrapper element */
.tile-wrapper {
  padding-bottom: $space-large;
  background: $beige;
  > .container {
    @include grid-container();
  }
  .row {
    @include breakpoint($breakpoint-s-min) {
      @include grid-collapse($neat-grid-large-gutter);
    }
    > h2 {
      position: relative;
      text-align: center;
      padding: $space-large 0 $space;
      margin-bottom: $space-large * 2;
      clear: both;
      border-bottom: 1px solid $gray;
      @include grid-column(12, $neat-grid-large-gutter);
      &:after,
      &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 100%;
        @include transform(translate(-50%,0));
      }
      &:after {
        @include triangle(36px 12px, $beige, down);
      }
      &:before {
        @include triangle(38px 13px, $gray, down);

      }
    }
  }
  .filterbar {
    margin-bottom: $space-large;
  }
}

/* Base Tile */

.tile {
  @include box-padded($white);
}


/* Title */

.tile__title {
  border-bottom: 1px solid $beige;
  @include box-inset-padded();
  a {
    color: $darkGray;
  }
}
h1.tile__title,
h3.tile__title { padding-bottom: $space; @include text-overflow-multi(); }

/* Title with date */

.tile__title--date {
  position: relative;
  .date {
    display: block;
    width: $space-large * 2;
    position: absolute;
    left: $space;
    top: $space;
    @include date-stacked();
    font-size: 2em;
  }
  h3 {
    padding-left: ($space-large * 2) + 10px;
    @include h4();
    @include text-overflow-multi();
  }
}

/* Date */

.tile__date {
  background: $white;
  color: $darkGray;
  font-size: .8em;
  display: inline-block;
  padding: 3px $space-xsmall-mobile 3px $space-xsmall;
  font-weight: 600;

  position: absolute;
  left: 0;
  top: $space-small;
}

/* meta */

.tile__meta {
  margin-bottom: $space;
  @include grid-container();
}

/* tile: image */

.tile__image {
  @include box-inset();
  height: 0;
  overflow: hidden;
  padding-bottom: 50%;
  a {
    display: block;
  }
  img {
    max-width: none;
    width: 100%;
    display: block;
  }
  &:first-child {
    @include box-inset-top();
  }
}

/* tile: tags */

.tile__meta__tag {
  background: $beige;
  color: $darkGray;
  font-size: .8em;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 60%;
  max-width: 220px;
  display: inline-block;
  overflow: hidden;
  margin-left: -$space-small;
  padding: $space-xsmall-mobile $space-xsmall-mobile $space-xsmall-mobile $space-small;
  @include breakpoint($breakpoint-m-min) {
    padding-left: $space;
    margin-left: -$space;
  }
}

/* tile: date */

.tile__meta__date {
  font-size: .8em;
  float: right;
  padding: $space-xsmall-mobile 0;
}

/* tile: Links */

.tile__links {
  list-style: none;
  padding: 0;
  text-align: center;
  @include box-inset-bottom();
}
.tile__links__item {
  margin: 0;
  border-right: 1px solid $gray;
  &:last-child {
    border-right: 0;
    .tile__links__item__link {
      color: $orange;
      font-weight: 600;
      &:hover {
        color: $darkOrange;
      }
    }
  }

  &:last-child:first-child {
    float: right;
    border-left: 1px solid $gray;
  }
}
.tile__links__item__link {
  padding: $space-small;
  display: block;
  color: $gray;
  &:hover {
    color: $darkGray;
  }
}

.tile__links--2 .tile__links__item {
  @include grid-column(6, $neat-grid-no-gutter);
}

/* Sidebar-Boxes*/
.sidebar-box {
  padding-bottom: $space-large;
  @include breakpoint($breakpoint-l-min) {
    padding-bottom: $space-large + $space;
  }
}
.sidebar-box__headline {
  position: relative;
  .icon-info {
    position: absolute;
    right: $space-xsmall-mobile;
    top: $space-xsmall-mobile;
    font-size: .7em;
    color: $mediumGray;
  }
}
.sidebar-box__tag_list {
  @include inline-list();
}
.sidebar-box__link_list {
  border-top: 1px solid $gray;
  padding: $space-small;
  padding: 0;
  margin: 0;
}
.sidebar-box__link_list__title {
  padding: $space-xsmall 0 $space-xsmall-mobile 0;
  margin: 0;
  display: block;
  position: relative;
  .icon {
    position: absolute;
    right: $space-xsmall-mobile;
    top: $space-small;
    font-size: .7em;
    color: $mediumGray;
  }
}
.sidebar-box__link_list__description {
  padding: 0 0 $space-xsmall 0;
  margin: 0;
  display: block;
  border-bottom: 1px solid $gray;
  font-size: .9em;
}