/**
* Box definitions
*/




/* tile */

.tile {
  @include box-padded($white);
}


/* Title */

.tile__title {
  border-bottom: 1px solid $beige;
  @include box-inset-padded();
  padding-bottom: $space-small;
}

.tile__meta {
  margin-bottom: $space;
  @include grid-container();
}

/* tile: tags */

.tile__meta__tag {
  background: $beige;
  color: $darkGray;
  font-size: .8em;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 60%;
  display: inline-block;
  overflow: hidden;
  margin-left: -$space-small;
  padding: $space-xsmall-mobile $space-xsmall-mobile $space-xsmall-mobile $space-small;
  @include breakpoint($breakpoint-m-min) {
    padding-left: $space;
    margin-left: -$space;
  }
}

/* tile: date */

.tile__meta__date {
  font-size: .8em;
  float: right;
  padding: $space-xsmall-mobile 0;
}

/* tile: Links */

.tile__links {
  list-style: none;
  padding: 0;
  text-align: center;
  @include box-inset-bottom();
}
.tile__links__item {
  margin: 0;
  border-right: 1px solid $gray;
  &:last-child {
    border-right: 0;
    .tile__links__item__link {
      color: $orange;
      font-weight: 600;
      &:hover {
        color: $darkOrange;
      }
    }
  }
}
.tile__links__item__link {
  padding: $space-small;
  display: block;
  color: $gray;
  &:hover {
    color: $darkGray;
  }
}

.tile__links--2 .tile__links__item {
  @include grid-column(6, $neat-grid-no-gutter);
}
