/**
* Buttons
*/

.btn {
  @include button($orange, $white, 15px, 12px);
}
.btn--large {
  @include button($orange, $white, 20px, 15px);
  font-size: 1.2em;
}
.btn--block {
  display: block;
  text-align: center;
}

.btn--white {
  @include button($white, $orange, 15px, 12px);
}