/**
* Buttons
*/

.btn {
  @include button($orange, $white, 15px, 12px);
}

.btn--white {
  @include button($white, $orange, 15px, 12px);
  &:hover {
    @include button($white, transparent, 15px, 12px);
  }
}

.btn--large {
  @include button($orange, $white, 20px, 15px);
  font-size: 1.2em;
}
.btn--large-white {
  @include button($white, $orange, 20px, 15px);
  font-size: 1.2em;
  &:hover {
    @include button($white, transparent, 20px, 15px);
  }
}

.btn--small {
  @include button($orange, $white, 10px, 8px);
  font-size: 0.8em;
}
.btn--small-white {
  @include button($white, $orange, 10px, 8px);
  font-size: 0.8em
  &:hover {
    @include button($white, transparent, 10px, 8px);
  }
}

.btn--block {
  @include button--block();
}
.btn--mobile-block {
  @include button--mobile-block();
}