/**
* Content area
*/

#content {
  min-height: 400px;
  background: $white;
}
.docready #content {
  @include transition(margin-top 300ms ease);
}
#content > .container {
  padding: 0;
  @include container-regular();
  padding-bottom: $space-large;
  &:last-child {
    padding-bottom: $space-large * 2;
  }
}