/**
* D3-js specifix styles
*/

.d3 {
  display: block;
  position: relative;
  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}
.d3--executed {
  span {
    display: none;
  }
}
.d3--gauge {
  .d3__text {
    font-size: 46px;
  }
}

.d3__tooltip {
  display: block;
  opacity: 0;
  top: auto;
  position: absolute;
  text-align: center;
  pointer-events: none;
}

.d3--bars-vertical {
  border-bottom: 1px solid $white;
  padding-bottom: 2px;
}


/* D3 - Labels */

.d3-label-wrapper {
}
.d3__label {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid $darkBeige;
}
.d3__label__item {
  border-bottom: 1px solid $darkBeige;
  margin: 0;
  padding: $space-xsmall 0;
  @include breakpoint($breakpoint-xs-min) {
    padding: $space-small 0;
  }
  &:last-child {
    border-bottom: 0;
  }
}
.d3__label__item__indicator {
  width: $space-small-mobile;
  height: $space-small-mobile;
  display: inline-block;
  background: $gray;
  margin-right: $space-small-mobile;
  margin-top: 6px;
  position: relative;
  top: -1px;
  float: left;
}


.d3--bars-secondary-income {
  .d3-bars {
    @include grid-container();
  }
  .d3-bars__total {
    background: $orangeBG;
    color: $white;
    font-weight: 800;
    padding: $space-xsmall-mobile $space-xsmall;
    font-size: .8em;
    border-bottom: 1px solid $white;
  }
  .d3-bars__item {
    height: 60px;
    float: left;
    border-right: 1px solid $white;
    position: relative;
    cursor: pointer;
    &:before {
      content: '';
      height: 60px;
      width: 100%;

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $gray + 40;
      @include transition(all 300ms ease);
      @include transform-origin(center top);
    }
    &:last-child {
      border-right: 0;
    }
    &.d3-bars__item--active,
    &:hover {
      &:before {
        background: $orangeBG;
        @include transform(scale(1, 1.1));
      }
      .d3__tooltip {
      }
    }
  }
  .d3__tooltip {
    bottom: 100%;
  }
}



/* D3 - Donut */
.d3--donut {
  .icon {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
  }
}


