/**
* Deputy
*/

.deputy {}
.deputy-list {
  text-align: center;
  background: $beige;
  @include grid-container();
}


/* View-Mode: Tile */

.deputy.tile {
  @include margin( null null $space);
  @include breakpoint($breakpoint-xs-min) {
    @include grid-column(6);
  }
  @include breakpoint($breakpoint-m-min) {
    @include grid-column(4);
  }
  @include breakpoint($breakpoint-l-min) {
    @include grid-column(3);
  }
  .deputy__image {
    @include margin(null auto $space);
    @include image-circle(130px, 130px);
  }
  .deputy__title {
    text-align: center;
    @include h3();
  }
  .hstats {
    margin-bottom: $space;
    @include grid-collapse($neat-grid-small-gutter);
    @include breakpoint($breakpoint-m-min) {
      @include grid-collapse();
    }
    &:before {
      content: '';
      display: block;
      width: 60%;
      height: 1px;
      background: $gray;
      @include margin($space auto);
    }
  }
  .hstats__item__display {
    height: 35px;
    @include breakpoint($breakpoint-m-min) {
      height: 40px;
    }
  }
  .d3--gauge {
    width: 40px;
    float: right;
    margin-right: $space-small;
    @include breakpoint($breakpoint-xs-min) {
      width: 30px;
      margin-right: $space-small-mobile;
    }
    @include breakpoint($breakpoint-s-min) {
      width: 40px;
      margin-right: $space-small-mobile;
    }
    @include breakpoint($breakpoint-m-min) {
      width: 40px;
    }
    svg {
      height: 40px;
    }
  }
  .party-indicator {
    font-size: .9em;
  }
}

/* View-Mode: Detail (user_candidate) */

.deputy.detail {
  .deputy__title {
    margin-bottom: $space-xsmall-mobile;
  }
  .deputy__subtitle {
    padding-bottom: $space-large;
    color: $mediumGray;
    opacity: .8;
  }
  .party-indicator {
    color: $mediumGray;
  }

  /* Intro */

  .deputy__intro {
    padding-bottom: $space;
    @include breakpoint($breakpoint-s-min) {
      @include grid-container();
      @include grid-collapse();
      padding-bottom: $space-large;
    }
  }


  /* Intro - Content */

  .deputy__intro__content {
    @include breakpoint($breakpoint-s-min) {
      @include grid-column(9, $neat-grid-rtl);
    }

    /* Intro - Stats */

    .hstats {
      border-top: 1px solid $gray;
    }
    .hstats__item {
      &:first-child {
        @include breakpoint($breakpoint-l-min - 100) {
          margin-right: $space-large * 2;
          width: 30%;
          width: calc(30% - #{$space-large * 2});
        }
      }
    }
    .hstats__item--donut-digit {
      padding-bottom: $space-small;
      width: 50%;
      float: left;
      @include breakpoint($breakpoint-xs-min) {
      }
      @include breakpoint($breakpoint-l-min - 100) {
        padding-bottom: 0;
        width: auto;
      }
    }
    .hstats__item--digit {
      padding-top: $space-small;
      border-top: 1px solid $gray + 50;
      width: 100%;
      @include breakpoint($breakpoint-l-min - 100) {
        border-top: 0;
        padding-top: 0;
        width: auto;
        margin-right: 0;
        float: right;
      }
    }
    .hstats__item__display {
      width: 45px;
    }
    .hstats__item__label {
      padding-left: $space-small;
      width:auto;
      @include breakpoint($breakpoint-m-min) {
        font-size: .8em;
      }
    }
    .hstats__item__label__value {
      font-size: 2.6em;
      line-height: 1em;
      padding-bottom: 4px;
    }
    .hstats__item--digit .hstats__item__label {
      padding: 0;
      @include breakpoint($breakpoint-l-min - 100) {
        text-align: right;
      }
    }
  }
  .deputy__intro__sidebar {
    margin-bottom: $space-large;
    @include breakpoint($breakpoint-s-min) {
      margin-bottom: 0;
      @include grid-column(3, $neat-grid-rtl);
    }
    @include breakpoint($breakpoint-m-min) {
      padding-left: $space;
    }
    @include breakpoint($breakpoint-l-min) {
      padding-left: $space-large;
    }
  }
  .deputy__image {
    display: block;
    img {
      display: block;
      margin-bottom: $space-small-mobile;
    }
    @media (max-width: $breakpoint-s-max) {
      img {
        @include image-circle(130px, 130px);
        margin: 0 auto $space auto;
      }
      text-align: center;
    }
  }

  /* Tabs */
  .tabs {
    margin-top: $space-large;
    border-top: 1px solid $gray;
    .nav__item {
      @include breakpoint($breakpoint-l-min) {
        font-size: 1.2em;
      }
      /* Exceptions for first Q&A-Tab */
      &.nav__item--active:first-child .nav__item__link {
        background: $orangeBG;
        color: $white;
      }
    }
  }
  .tabs__navigation {
    border-bottom: 1px solid $gray;
    background: $white;
    margin-bottom: -1px;
  }
  .tabs__content {
    @include padding($space-small null);
    @include breakpoint($breakpoint-m-min) {
      @include padding($space-large null);
    }
    /* Exceptions for first Q&A-Tab */
    &#fragen-und-antworten {
      background: $orangeBG;
      color: $white;
      h2 { color: $white; }
      .option-title {
        .select2-container--default .select2-selection--multiple { border-color: $orangeBG; }
        .select2-container--default .select2-selection--multiple .select2-selection__choice {
          margin: $space-xsmall - 3;
          @include tag($orangeBG, $white);
        }
        .form__item--checkbox {
          @include breakpoint($breakpoint-m-min) {
            text-align: right;
            margin-right: $space-small;
          }
          .form__item__control {
            border-color: $white;
            &:checked { background-color: $white; }
          }
        }
      }
    }
    .tab-qa-stats {
      clear: both;
      padding: $space 0;
      border-top: 1px solid $brightOrange;
      @include grid-container();
      .hstats__item {
        margin-bottom: $space;
      }
      .hstats__item__display {
        width: 45px;
      }
      .hstats__item__label {
        color: $white;
        padding-left: $space-small;
        font-size: .9em;
        font-weight: 500;
        line-height: 1.2em;
        width: auto;
      }
      .hstats__item--digit .hstats__item__display {
        white-space: nowrap;
        font-size: 2em;
      }
    }
    .tab-qa-stats__col {
      @include grid-column(12);
      @include breakpoint($breakpoint-xs-min) {
        @include grid-column(6);
      }
      @include breakpoint($breakpoint-m-min) {
        @include grid-column(3);
      }
      @include breakpoint($breakpoint-l-min) {
        @include grid-column(3);
      }
    }
    .tab-qa-stats__col--large {
      @include grid-column(6);
    }

    .swiper-container--tile {
      margin-bottom: $space;
      & + .btn {
        float: right;
        margin-bottom: $space-large;
      }
    }
    &.tabs__content--active {
      .tabs__content__title {
        padding-bottom: $space;
        @include breakpoint($breakpoint-m-min) {
          padding-bottom: 0;
        }
      }
    }
  }
}
