/**
* Deputy
*/

.deputy {}
.deputy-list {
  text-align: center;
  background: $beige;
  @include grid-container();
}


/* View-Mode: Tile */

.deputy.tile {
  @include margin( null null $space);
  @include breakpoint($breakpoint-xs-min) {
    @include grid-column(6);
  }
  @include breakpoint($breakpoint-m-min) {
    @include grid-column(4);
  }
  @include breakpoint($breakpoint-l-min) {
    @include grid-column(3);
  }
  .deputy__image {
    @include margin(null auto $space);
    @include image-circle(130px, 130px);
  }
  .deputy__title {
    text-align: center;
    @include h3();
  }
  .hstats {
    margin-bottom: $space;
    @include grid-collapse($neat-grid-small-gutter);
    @include breakpoint($breakpoint-m-min) {
      @include grid-collapse();
    }
    &:before {
      content: '';
      display: block;
      width: 60%;
      height: 1px;
      background: $gray;
      @include margin($space auto);
    }
  }
  .hstats__item__display {
    height: 35px;
    @include breakpoint($breakpoint-m-min) {
      height: 40px;
    }
  }
  .d3--gauge {
    width: 40px;
    float: right;
    margin-right: $space-small;
    @include breakpoint($breakpoint-xs-min) {
      width: 30px;
      margin-right: $space-small-mobile;
    }
    @include breakpoint($breakpoint-s-min) {
      width: 40px;
      margin-right: $space-small-mobile;
    }
    @include breakpoint($breakpoint-m-min) {
      width: 40px;
    }
    svg {
      height: 40px;
    }
  }
  .party-indicator {
    font-size: .9em;
  }
}

/* View-Mode: Detail (user_candidate) */

.deputy.detail {
  .deputy__title {
    margin-bottom: $space-xsmall-mobile;
  }
  .deputy__subtitle {
    padding-bottom: $space-large;
    color: $mediumGray;
    opacity: .8;
  }
  .party-indicator {
    color: $mediumGray;
  }

  /* Intro */

  .deputy__intro {
    padding-bottom: $space;
    @include breakpoint($breakpoint-s-min) {
      @include grid-container();
      @include grid-collapse();
      padding-bottom: $space-large;
    }
  }


  /* Intro - Content */

  .deputy__intro__content {
    @include breakpoint($breakpoint-s-min) {
      @include grid-column(9, $neat-grid-rtl);
    }

    /* Intro - Stats */

    .hstats {
      border-top: 1px solid $gray;
    }
    .hstats__item {
      &:first-child {
        @include breakpoint($breakpoint-l-min - 100) {
          margin-right: $space-large * 2;
          width: 30%;
          width: calc(30% - #{$space-large * 2});
        }
      }
    }
    .hstats__item--donut-digit {
      padding-bottom: $space-small;
      width: 50%;
      float: left;
      @include breakpoint($breakpoint-xs-min) {
      }
      @include breakpoint($breakpoint-l-min - 100) {
        padding-bottom: 0;
        width: auto;
      }
    }
    .hstats__item--digit {
      padding-top: $space-small;
      border-top: 1px solid $gray + 50;
      width: 100%;
      @include breakpoint($breakpoint-l-min - 100) {
        border-top: 0;
        padding-top: 0;
        width: auto;
        margin-right: 0;
        float: right;
      }
      .hstats__item__label {
        text-align: center;
        @include breakpoint($breakpoint-s-min) {
          text-align: left;
        }
      }
    }
    .hstats__item__display {
      width: 45px;
    }
    .hstats__item__label {
      padding-left: $space-xsmall;
      padding-right: $space-xsmall;
      width:auto;
      @include breakpoint($breakpoint-xs-min) {
        padding-left: $space-small;
      }
      @include breakpoint($breakpoint-m-min) {
        font-size: .8em;
      }
    }
    .hstats__item__label__value {
      padding-bottom: 4px;
      font-size: 1.6em;
      line-height: 1em;
      @include breakpoint($breakpoint-xs-min) {
        font-size: 2.6em;
      }
    }
    .hstats__item--digit .hstats__item__label {
      padding: 0;
      @include breakpoint($breakpoint-l-min - 100) {
        text-align: right;
      }
    }
  }
  .deputy__intro__sidebar {
    margin-bottom: $space-large;
    @include breakpoint($breakpoint-s-min) {
      margin-bottom: 0;
      @include grid-column(3, $neat-grid-rtl);
    }
    @include breakpoint($breakpoint-m-min) {
      padding-left: $space;
    }
    @include breakpoint($breakpoint-l-min) {
      padding-left: $space-large;
    }
  }
  .deputy__image {
    display: block;
    img {
      display: block;
      margin-bottom: $space-small-mobile;
    }
    @media (max-width: $breakpoint-s-max) {
      img {
        @include image-circle(130px, 130px);
        margin: 0 auto $space auto;
      }
      text-align: center;
    }
  }

  /* Tabs */
  .tabs {
    margin-top: $space-large;
    border-top: 1px solid $darkBeige;
    .nav__item {
      @include breakpoint($breakpoint-l-min) {
        font-size: 1.2em;
      }
      /* Exceptions for first Q&A-Tab */
      &.nav__item--active:first-child .nav__item__link {
        background: $orangeBG;
        color: $white;
      }
    }
  }
  .tabs__navigation {
    background: $white;
    margin-bottom: -1px;
  }
  .tabs__content {
    border-top: 1px solid $darkBeige;
    background: $beige;

    /* Exceptions for first Q&A-Tab */

    &#fragen-und-antworten {
      background: $orangeBG;
      color: $white;
      h2, h2 a { color: $white; }
      .option-title {
        .select2-container--default .select2-selection--multiple { border-color: $orangeBG; }
        .select2-container--default .select2-selection--multiple .select2-selection__choice {
          margin: $space-xsmall - 3;
          @include tag($orangeBG, $white);
        }
        .form__item--checkbox {
          @include breakpoint($breakpoint-m-min) {
            text-align: right;
            margin-right: $space-small;
          }
          .form__item__control {
            border-color: $white;
            &:checked { background-color: $white; }
          }
        }
      }
      > .tabs__content__content {
        background: $brightOrange;
        padding: $space-large 0;
        margin-top: $space-large;
        border-top: 1px solid $white;
        color: $darkGray;
        @include breakpoint($breakpoint-s-min) {
          margin-bottom: -$space-large;
          margin-top: $space-large * 2;
          padding: ($space-large * 2) 0;
        }
        @include breakpoint($breakpoint-m-min) {
          margin-bottom: -$space-large * 2;
        }
        h2, h2 a { color: $darkGray; font-family: $font-sans-serif; }
      }

      .question-form {
        @include breakpoint($breakpoint-xs-min) {
          @include grid-column(12);
        }
        @include breakpoint($breakpoint-s-min) {
          @include grid-column(8);
        }
      }
      .question-side {
        @include breakpoint($breakpoint-xs-min) {
          @include grid-column(12);
        }
        @include breakpoint($breakpoint-s-min) {
          @include grid-column(4);
        }
      }
      .form {
        @include grid-container();
        @include grid-collapse();
        position: relative;
        #edit-submitted-pflichtfelder {
          @include breakpoint($breakpoint-m-min) {
            position: absolute;
            right: $space;
            font-size: .8em;
            bottom: 100%;
            width: auto;
          }
          p {
            margin: 0;
          }
        }
      }
      .form__item {
        @include grid-column(12);
      }
      .form__item--submitted-firstname,
      .form__item--submitted-lastname,
      .form__item--webform-email,
      .form__item--submitted-option-newsletter,
      .form__item--submitted-residence,
      .form__item--submitted-subject {
        @include breakpoint($breakpoint-s-min) {
          @include grid-column(6);
        }
      }
    }

    .question-side__item {
      border-top: 1px solid $darkGray;
      padding-top: $space;
      margin-top: $space;
      @include breakpoint($breakpoint-s-min) {
        border-top: 0;
        padding-top: 0;
        margin-top: 0;
      }
    }

    #edit-submitted-summary {
      min-height: 110px;
      margin-top: $space-large;
    }
    .tab-qa-stats {
      clear: both;
      padding-top: $space-large;
      border-top: 1px solid rgba(255,255,255,.4);
      @include grid-container();
      .hstats__item {
        margin-bottom: $space;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .hstats__item__display {
        width: 45px;
        height: 45px;
      }
      .hstats__item__label {
        color: $white;
        padding-left: $space-small;
        font-size: .9em;
        font-weight: 500;
        line-height: 1.2em;
        width: auto;
      }
      .hstats__item--digit .hstats__item__display {
        white-space: nowrap;
        font-size: 2em;
        text-align: center;
      }
    }
    .tab-qa-stats__col {
      margin-bottom: $space;
      @include breakpoint($breakpoint-xs-min) {
        margin-bottom: 0;
        @include grid-column(6);
      }
      @include breakpoint($breakpoint-m-min) {
        @include grid-column(3);
      }
      @include breakpoint($breakpoint-l-min) {
        @include grid-column(3);
      }
    }
    .tab-qa-stats__col--large {
      margin-bottom: 0;
      @include breakpoint($breakpoint-xs-min) {
        @include grid-column(6);
      }
      @include breakpoint($breakpoint-m-min) {
        padding-left: 6%;
      }
    }
    .swiper-container--tile {
      margin-bottom: $space-large;
      text-align: center;
      & + .btn {
        float: right;
        margin-bottom: $space-large * 2;
      }
      .tile {
        text-align: left;
      }
    }
    &.tabs__content--active {
      .tabs__content__title {
        padding-bottom: $space;
        @include breakpoint($breakpoint-m-min) {
          padding-bottom: 0;
        }
      }
    }
    .swiper-button-prev + .btn {
      @media (max-width: $breakpoint-xs-max) {
        background: none;
        color: $white;
        margin-top: $space-large + 6px;
        padding: 0;
        border: 0;
      }
      @include breakpoint($breakpoint-xs-min) {
        margin-top: $space + 4px;
        display: inline-block;
      }
      @include breakpoint($breakpoint-m-min) { display: none; }
    }
  }
}



/* Abstimmverhalten */

$abstimmverhalten-indicator-width-mobile: 80px;
$abstimmverhalten-indicator-width: 120px;
$abstimmverhalten-node-width: 60px;
$abstimmverhalten-node-item-width: 18px;

.abstimmverhalten-overview {
  @include breakpoint($breakpoint-s-min) {
    padding-left: $abstimmverhalten-node-width;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      left: $abstimmverhalten-node-item-width + 1px;
      top: $abstimmverhalten-node-item-width + 5px;
      bottom: $abstimmverhalten-node-item-width * 4;
      width: 4px;
      background-color: $darkBeige;
    }
  }
  @include breakpoint($breakpoint-m-min) {
    @include grid-column(8, $neat-grid-rtl-no-gutter);
  }
}

.abstimmverhalten-overview__item {
  margin-bottom: $space;
  padding-right: $abstimmverhalten-indicator-width-mobile + $space;
  position: relative;
  @include breakpoint($breakpoint-s-min) {
    padding-right: $abstimmverhalten-indicator-width + $space;
    &:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      right: 100%;
      top: $space;
      margin-right: $abstimmverhalten-node-width - ($abstimmverhalten-node-item-width * 2);
      width: $abstimmverhalten-node-item-width + 12px;
      height: $abstimmverhalten-node-item-width + 12px;
      border-radius: 50%;
      background-color: $darkBeige;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      top: $space + 4;
      right: 100%;
      margin-right: $abstimmverhalten-node-width - (($abstimmverhalten-node-item-width * 2) - 4px);
      width: $abstimmverhalten-node-item-width;
      height: $abstimmverhalten-node-item-width;
      border-radius: 50%;
      background-color: $gray;
      border: 2px solid $white;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
  .tag {
    margin-top: $space-xsmall;
    @include breakpoint($breakpoint-s-min) {
      margin-top: 0;
    }
  }
}
.abstimmverhalten-overview__item__title {
  @include dark-link();
  @include text-overflow-multi();
}
.abstimmverhalten-overview__item__date {
  font-family: $font-serif;
  color: $gray;
  display: block;
  margin-right: $space-xsmall;
  @include breakpoint($breakpoint-s-min) {
    display: inline-block;
  }
}
.abstimmverhalten-overview__item__indicator {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: $space 0;
  width: $abstimmverhalten-indicator-width-mobile;
  text-align: center;
  border-left: 1px solid $darkBeige;
  @include breakpoint($breakpoint-s-min) {
    width: $abstimmverhalten-indicator-width;
  }
}
.abstimmverhalten-overview__item__indicator__icon {
  font-size: 1.2em;
  margin-bottom: $space-xsmall;
  display: inline-block;
  &.icon-ok {
    color: $success;
  }
  &.icon-close {
    color: $error;
  }
  &.icon-minus {
    color: $darkGray;

  }
  &.icon-circle-o {
    color: $gray;
  }
}
.abstimmverhalten-overview__item__indicator__label {
  color: $mediumGray;
  display: block;
  font-size: .8em;
}

/* voting behavior - Abstimmverhalten */

.abstimmverhalten-stats {
  margin-bottom: $space-large;
  @include grid-container();
  @include breakpoint($breakpoint-m-min) {
    margin-bottom: 0;
    @include grid-column(4, $neat-grid-rtl-no-gutter);
    padding-left: $space-large * 2;
  }
  .d3--donut {
    @include grid-container();
  }
  .d3--donut svg {
    width: 30%;
    margin: 0 $space 0 0;
    float: left;
    @include breakpoint($breakpoint-xs-min) {
      width: 40%;
      padding: $space;
      margin: 0 $space-large 0 0;
    }
    @include breakpoint($breakpoint-m-min) {
      width: 70%;
      float: none;
      margin: 0 auto $space;
      padding-bottom: $space-large;
    }
  }
  .d3__label {
    width: calc(70% - #{$space});
    margin: 0;
    float: left;
    border-top: 0;
    @include breakpoint($breakpoint-xs-min) {
      width: calc(60% - #{$space-large});
    }
    @include breakpoint($breakpoint-m-min) {
      width: auto;
      border-top: 1px solid $darkBeige;
      float: none;
      margin: 0 auto;
    }
  }
}

/* Committee membership- Ausschussmitgliedschaft */

.ausschussmitgliedschaft {
  @include breakpoint($breakpoint-s-min) {
    @include grid-collapse();
  }
}
.ausschussmitgliedschaft__item {
  margin-bottom: $space;
  @include breakpoint($breakpoint-s-min) {
    @include grid-column(6);
  }
}

/* sidejobs - Nebentätigkeiten */

.sidejob-overview {
  @include box-padded-large($white);
  .table {
    margin-top: $space-large * 2;
  }
  tbody .sidejob-overview__item__customer { font-weight: 500; }
  .sidejob-overview__item__level {
    text-align: right;
    padding-left: $space-large;
    white-space: nowrap;
    span {
      font-weight: 500;
      border-left: 2px solid $gray;
      display: inline-block;
      padding-left: 5px;
      margin-left: 3px;
    }
    small {
      color: $mediumGray;
      display: block;
    }
    @media (max-width: $breakpoint-s-max) {
      float: left;
      width: 70%;
    }
  }
  .sidejob-overview__item__date {
    @media (max-width: $breakpoint-s-max) {
      float: left;
      width: 30%;
    }
  }
  .sidejob-overview__item--active {
    background: $orangeBG;
    color: $white;
    &:hover {
      background: $orangeBG;
    }
    .sidejob-overview__item__level {
      span { border-left: 2px solid $white; }
      div { color: $white; }
    }
  }
}
.table--secondary-income {
  tbody tr {
    &:hover {
      background: $brightGray;
    }
  }
}
