/**
* drupal
*
* Defines drupal-specific style exceptions
*/

/* Admin-Menu */
#admin-menu .dropdown {
  &:after {
    content: none;
  }
}

/* Tabs */
.tabs--admin {
  background: transparent;
}
.nav--tab.primary {
  display: none;
  padding: 0;
  margin: 0;
  padding-top: $space-large;
  margin-bottom: $space-large;
  border-bottom: 1px solid $gray + 40;
  @include grid-container();
  @include breakpoint($breakpoint-m-min) {
    display: block;
  }
  li {
    padding: 0;
    margin: 0 0 -1px;
    float: left;
    border-top: 1px solid $gray + 40;
    border-right: 1px solid $gray + 40;
    border-bottom: 1px solid $gray + 40;
    a {
      display: block;
      padding: $space-small;
      background: $brightGray;
      color: $darkGray;
      &:hover {
        background: $brightGray - 10;
      }
    }
    &.active {
      border-bottom: 1px solid $white;
      a {
        background: $white;
      }
    }
    &:first-child {
      border-left: 1px solid $gray + 40;
    }
  }
}


/* Messages */

.messages {
  @include box($brightGray);
  @include padding($space $space $space ($space-large * 2));
  margin-bottom: $space-large;
  position: relative;
  &:before {
    content: '';
    font-family: 'awfont';
    font-size: 1em;
    padding: 0;
    position: absolute;
    left: $space-large-mobile;
    top: $space;
  }
}
.messages--status {
  background-color: $success;
  &:before {
    content: '\e87a';
  }
}
.messages--error {
  background-color: $error;
  &:before {
    content: '\e823';
  }
}
.messages--warning {
  background-color: $warning;
  &:before {
    content: '\e829';
  }
}


/* Form specific */

.filter-wrapper {
  margin: 0 0 $space;
  padding: 0;
  .tips {
    font-size: .7em;
  }
}
.form-item + .filter-wrapper {
  margin-top: -1px;
}

/* Contextual Links */
#header .contextual-links-region {
  @include grid-container();
}

/* Temp */

.view-content {
  @include grid-container();
}