/**
* Election programs
*/

.election-manifesto.tile {
  @include grid-column(12);
  margin-bottom: $space;
  overflow: hidden;
  @include breakpoint($breakpoint-s-min) {
    margin-bottom: $space-large;
  }
  .tile__image {
    display: none;
    @include breakpoint($breakpoint-s-min) {
      display: block;
    }
  }
  .tile__title {
    border: 0;
  }
  .tile__content {
    @include grid-column(12, $neat-grid-no-gutter);
    @include breakpoint($breakpoint-s-min) {
      @include grid-column(8, $neat-grid-no-gutter);
    }
    @include breakpoint($breakpoint-l-min) {
      @include grid-column(9, $neat-grid-no-gutter);
    }
  }
}
.election-manifesto__tag_cloud {
  pointer-events: none;
  margin-top: $space-large;
  padding-top: $space-large;
  border-top: 1px solid $brightGray;
  font-size: 0.6em;
  opacity: .6;
  p {
    line-height: 2.2em;
  }
  span,
  a {
    font-weight: 400;
  }
  br {
    display: none;
  }
  .tagadelic {
    opacity: .6;
    &.level5 { opacity: .5; }
    &.level6 { opacity: .6; }
    &.level7 { opacity: .7; }
    &.level8 { opacity: .8; }
    &.level9 { opacity: .9; }
    &.level10 { opacity: 1; }
  }

}