/**
* Election programs
*/

.election-program.tile {
  @include grid-column(12);
  margin-bottom: $space;
  @include breakpoint($breakpoint-s-min) {
    margin-bottom: $space-large;
  }
  .tile__image {
    margin-bottom: $space;
  }
  .tile__title {
    border: 0;
  }
  .election-program__tag_cloud {
  }
}

.election-program__tag_cloud {
  text-align: center;
  pointer-events: none;
  padding-top: $space-large;
  text-align: justify;
  font-size: 0.6em;
  opacity: .6;
  a {
    font-weight: 400;
  }
}