/**
* Forms
*/


.form {
}
.form__item {
  margin-bottom: $space-small;
  position: relative;
  .description {
    padding: $space-xsmall-mobile 0;
    font-size: .8em;
    line-height: 1.4em;
  }
}
.form__item--inline {
  display: inline-block;
}
.form-email,
.form__item__control {
  border: 1px solid $gray;
  display: block;
  width: 100%;
  padding: $space-xsmall;
}

/* Type: Checkbox */

.form-type-checkbox,
.form__item--checkbox {
  margin-bottom: 0;
  .form__item__label {
    display: inline-block;
  }
  .form__item__control {
    display: inline-block;
    padding: 0;
    width: $space-small-mobile;
    height: $space-small-mobile;
    cursor: pointer;
    margin-right: $space-xsmall-mobile;
    @include appearance(none);
    &:checked { background-color: $gray; }
    &:focus { outline: none; }
  }
}
.form-type-checkbox {
  padding: $space-xsmall 0;
  padding-left: $space;
  position: relative;
  .form__item__label {
    padding: 0;
  }
  .form__item__control {
    position: absolute;
    left: 0;
    top: 50%;
    margin: 0;
    transform: translate(0,-50%);
  }
}

/* Type: Radio */

.form__item--radio {
  .form-radio {
    margin-right: $space-xsmall-mobile;
  }
}

.form__item--alert {
  display: none;
  position: relative;
  &.show {
    text-align: center;
    font-size: .9em;
    padding: $space-xsmall;
    display: block;
    margin-bottom: $space-small;
    border: 2px solid $gray;
  }
  &:before {
    content: '';
    @include triangle(12px 5px, $gray, down);
    position: absolute;
    left: 50%;
    top: 100%;
    margin-top: 2px;
    margin-left: -4px;
  }
}
.form__item--alert-danger.show { border-color: $error; &:before { @include triangle(12px 5px, $error, down); } }
.form__item--alert-info.show { border-color: $warning; &:before { @include triangle(12px 5px, $warning, down); } }
.form__item--alert-success.show { border-color: $success; &:before { @include triangle(12px 5px, $success, down); } }

/* Loader */

@-webkit-keyframes spinnerRotate
{
  from{-webkit-transform:rotate(0deg);}
  to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
  from{-moz-transform:rotate(0deg);}
  to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
  from{-ms-transform:rotate(0deg);}
  to{-ms-transform:rotate(360deg);}
}

.form__item__loader {
  display: none;
  position: absolute;
  right: $space-xsmall;
  top: 50%;
  width: 16px;
  height: 16px;
  overflow: hidden;
  margin-top: -8px;
  color: $gray;
  @include animation(spinnerRotate 1.0s linear infinite);
}
.loading .form__item__loader {
  display: block;
}

/* Textareas */

textarea.form__item__control {
  min-height: 200px;
}
.form__item--textarea {
  .form__item__label {
    margin-bottom: $space-xsmall-mobile;
    display: block;
  }
}

/* Text fields */

.form__item--textfield {
  .form__item__label {
    margin-bottom: $space-xsmall-mobile;
    display: block;
  }
}

.form__item--multi {
  @include grid-container();
  @include grid-collapse();
}


/* Select2 Elements */

.select2-container .select2-selection {
  min-height: 0;
  height: auto;
  border-radius: 0;
  border-color: $gray;
}
.select2-container .select2-selection .select2-selection__rendered {
  display: block;
  padding: 0;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding: $space-xsmall $space-large $space-xsmall $space-xsmall;
  line-height: 1.15;
}
.select2-container .select2-selection--single .select2-selection__arrow {
  height: auto;
  width: $space-large;
  bottom: 1px;
  border-left: 1px solid $gray;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: 0;
  margin-top: -4px;
  &:after {
    content: '\e847';
    font-family: 'awfont';
    font-size: 0.5em;
    position: absolute;
    left: 0;
    top: 0;
  }
}
.select2-container .select2-search--inline {
  margin: 0;
  .select2-search__field {
    margin: 0;
    display: block;
    padding: $space-xsmall;
  }
}
.select2-container .select2-selection--multiple .select2-selection__choice {
  margin: $space-xsmall - 3;
  @include tag($beige, $darkBeige, $mediumGray);
}
.select2-container--default .select2-selection--multiple .select2-selection__clear {
  margin-top: $space-xsmall;
}
.select2-container--open .select2-dropdown--below {
  min-width: 200px;
}
.select2-selection__placeholder {
  @include text-overflow();
}



/* Form-Item Combiner */

.form--pw-globals-politician-search-form,
.form__item--combine {
  background: $white;
  padding: $space-xsmall;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
  @include grid-container();
  .select2-container {
    float: left;
    width: 25% !important;
    padding-right: $space-xsmall-mobile;
    @include breakpoint($breakpoint-xs-min) {
      width: 15% !important;
    }
    .select2-selection {
      position: relative;
    }
  }
  .select2-container--default .select2-selection--single {
    border: 0;
    border-right: 1px solid $darkBeige;
  }
  .select2-container .select2-selection--single .select2-selection__arrow {
    border-left: 0;
  }
  .form__item--textfield,
  .twitter-typeahead,
  > .form__item__control {
    float: left;
    width: 85%;
    border: 0;
    display: block;
    margin-bottom: 0;
    @include breakpoint($breakpoint-xs-min) {
      width: 90%;
    }
  }
  .tt-hint {
    color: $gray;
    top: auto !important;
    left: auto !important;
    width: calc(100% - 40%);
    @include breakpoint($breakpoint-xs-min) {
      width: calc(100% - 28%);
    }
  }
  .twitter-typeahead {
    position: static !important;
  }
  .form__item__control {
    border: 0;
  }
  .btn {
    float: left;
    width: 15%;
    padding: $space-xsmall 0;
    border: 0;
    background: none;
    border-left: 1px solid $darkBeige;
    color: $darkGray;
    @include breakpoint($breakpoint-xs-min) {
      width: 10%;
    }
  }
}


/* Autosuggest - Typeahead */

.tt-menu {
  background: $white;
  right: 0;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);

  border-top: 1px solid $darkBeige;

  /* Header */

  .autosuggest__header {
    padding: $space-xsmall $space-xsmall;
    border-bottom: 1px solid $darkBeige;
    font-weight: 600;
    color: $orange;
    font-size: .8em;
  }

  /* Ergebnis */

  .autosuggest__item {
    padding: $space-small $space-xsmall;
    border-bottom: 1px solid $darkBeige;
    position: relative;
    @include grid-container();
    &:last-child {
      border-bottom: 0;
    }
    .btn--small {
      display: none;
      @include breakpoint($breakpoint-s-min) {
        display: block;
        position: absolute;
        right: $space-xsmall;
        top: $space-small;
      }
    }
    &:hover,
    &.tt-cursor {
      background-color: $brightGray;
    }
  }
  .autosuggest__item__image {
    float: left;
    @include image-circle(40px, 40px);
    border-width: 3px;
    margin-right: $space-small;
  }
  .autosuggest__item__info {
    color: $gray;
    padding-top: 2px;
    position: relative;
    @include breakpoint($breakpoint-s-min) {
      margin-right: 120px;
    }
    .tt-highlight {
      color: $darkGray;
    }
  }
  .autosuggest__item__name {
    font-family: $font-serif;
    padding-bottom: 3px;
    padding-right: 100px;
    @include text-overflow();
  }
  .autosuggest__item__subtitle {
    color: $gray;
    font-size: .7em;
    .icon {
      font-size: .8em;
      margin: 0 5px;
      display: inline-block;
    }
    .party-indicator {
      color: $gray;
    }
  }
  .autosuggest__item__constituency {
    position: absolute;
    right: $space-xsmall-mobile;
    top: $space-xsmall-mobile;
    font-size: .7em;
    max-width: 100px;
    text-align: right;
    @include text-overflow();
  }

  /* Kein Ergebnis */

  .autosuggest__item--empty {
    text-align: center;
  }
}

