/**
* Header-Section
*
* Defines the global header section with logo and navigtion (primary-/secondary)
*/

#header {
  background: $beige;
  border-bottom: 1px solid $darkBeige;
  width: 100%;
  z-index: 9;
  @include breakpoint($breakpoint-m-min) {
    position: fixed;
  }
}

/* Logo */

.header__logo {
  max-width: 220px;
  float: left;
  @include padding($space-mobile null);
  @include breakpoint($breakpoint-xs-min) {
    max-width: 250px;
  }
  @include breakpoint($breakpoint-s-min) {
    max-width: 280px;
    @include padding(($space-mobile - 3) null);
  }
  @include breakpoint($breakpoint-l-min) {
    max-width: 290px;
    @include padding($space null);
  }
}

/* Navigation */

.nav--main-menu--level-1 {
  @include breakpoint($breakpoint-m-min) {
    float: right;
  }
  background: $white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
  height: 100%;
  width: 280px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  perspective: 1000px;
  @include transform(translate3d(120%, 0, 0));
  @include transition(transform 0.5s);
  @include breakpoint($breakpoint-m-min) {
    position: static;
    display: block;
    width: auto;
    background: transparent;

    box-shadow: none;

    @include perspective(initial);
    @include transition(initial);
    @include transform(initial);
    @include grid-container;
  }
  .nav__item {
    border-bottom: 1px solid $darkBeige;
    &:nth-child(1) .nav__item__link:before {
      content: '\e84f';
    }
    &:nth-child(2) .nav__item__link:before {
      content: '\e81d';
    }
    &:nth-child(3) .nav__item__link:before {
      content: '\e824';
    }
    &:nth-child(4) .nav__item__link:before {
      content: '\e900';
    }
    &:nth-child(5) .nav__item__link:before {
      content: '\e829';
    }
    &:nth-child(6) .nav__item__link:before {
      content: '\e901';
      margin: 0
    }
    @include breakpoint($breakpoint-m-min) {
      float: left;
      border-bottom: 0;
      border-right: 1px solid $darkBeige;
      &:first-child {
        border-left: 1px solid $darkBeige;
      }
    }
  }
  .nav__item__link {
    font-family: $font-serif;
    line-height: 23px;
    border-bottom: 1px solid transparent;
    background: $brightGray;

    @include transition(background 200ms ease-in-out);
    @include padding($space ($space*0.7) $space (($space*0.7)-5));
    @include breakpoint($breakpoint-m-min) {
      background: transparent;
    }
    @include breakpoint($breakpoint-l-min) {
      @include padding($space-large ($space-large*0.7) $space-large (($space-large*0.7)-10));
    }
    &:before {
      font-family: 'awfont';
      display: inline-block;
      margin-right: 4px;
      width: $space-large;
      text-align: center;
    }
    &:hover {
      background: $beige - 10;
    }
  }

  // active
  .nav__item--active {
    position: relative;
    .nav__item__link {
      background: $white;
      position: relative;
      z-index: 99;
      border-bottom: 1px solid $white;
    }
    &:after {
      content: '';
      position: absolute;
      right: 100%;
      top: 50%;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent $white transparent transparent;
      border-width: ($space/2) ($space/2) ($space/2) 0;
      @include transform(translate(0,-50%));
      @include breakpoint($breakpoint-m-min) {
        content: none;
      }
    }
  }

  // Dropdown

  .nav__item__trigger {
    border-left: 1px solid $darkBeige + 10;
    border-bottom: 1px solid transparent;
    line-height: 23px;
    font-size: .8em;
    @include transition(background 200ms ease-in-out);
    @include padding($space $space-small-mobile);
    background: $brightGray;
    @include breakpoint($breakpoint-m-min) {
      background: transparent;
    }
    @include breakpoint($breakpoint-l-min) {
      @include padding($space-large $space-small-mobile);
    }
    &:hover {
      background: $beige - 10;
    }
  }
  .dropdown__trigger--active,
  .dropdown__trigger--active:hover {
    background: $white;
    border-bottom: 1px solid #fff;
    position: relative;
  }
  .dropdown__text {
    width: 78%;
    @include breakpoint($breakpoint-m-min) {
      width: auto;
    }
  }
  .dropdown__trigger {
    width: 22%;
    @include breakpoint($breakpoint-m-min) {
      width: auto;
    }
  }
  .dropdown__list {
    clear: both;
    @include transition(opacity 200ms ease-in-out);
    border-top: 1px solid $brightGray;
    @include breakpoint($breakpoint-m-min) {
      background: $white;
      border-top: 0;
      width: 500px;
      box-shadow: 0 8px 10px rgba(0,0,0,.1);
      @include margin(-1px null null);
    }
  }
  .dropdown__list__item {
    border-bottom: 1px solid $brightGray;
    @include breakpoint($breakpoint-m-min) {
      float: left;
      width: 50%;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  .dropdown__list__item__link {
    @include padding($space-small);
    display: block;
  }
}



/* Sub-Navigation */
.header__bottom {
  background: $white;
  margin-top: -1px;
  border-top: 1px solid $darkBeige;
}
.nav--main-menu--level-2 {
  @include breakpoint($breakpoint-m-min) {
    position: relative;
    z-index: 97;
  }
  list-style: none;
  float: right;
  @include grid-container;
  @include breakpoint($breakpoint-m-min) {
    text-align: right;
    @include margin(0);
  }
  .nav__item {
    display: none;
    @include breakpoint($breakpoint-m-min) {
      display: block;
    }
    &:nth-child(1) .nav__item__link:before {
      content: '\e84d';
    }
    &:nth-child(2) .nav__item__link:before {
      content: '\e836';
    }
    &:nth-child(3) .nav__item__link:before {
      content: '\e835';
    }
    &:nth-child(4) .nav__item__link:before {
      content: '\e83c';
    }
    &:nth-child(5) .nav__item__link:before {
      content: '\e829';
    }
    &:nth-child(6) .nav__item__link:before {
      content: '\e822';
    }
  }
  .nav__item__link {
    font-family: $font-serif;
    line-height: $space;
    @include padding($space-mobile 0);
    @include transition(color 200ms ease-in-out);
    @include breakpoint($breakpoint-xs-min) {
      @include padding($space 0);
    }
    @include breakpoint($breakpoint-m-min) {
      @include padding($space ($space*0.4));
    }
    @include breakpoint($breakpoint-l-min) {
      @include padding($space-large ($space-large*0.7));
    }
    &:before {
      font-family: 'awfont';
      display: inline-block;
      margin-right: 4px;
      width: $space-large;
      text-align: center;
    }
  }

  // active

  .nav__item--active {
    position: relative;
    display: block;
    &:before,
    &:after {
      @include breakpoint($breakpoint-m-min) {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        left: 50%;
        top: calc(100% + 1px);
        border-style: solid;
        border-width: ($space/2) ($space/2) 0 ($space/2);
        @include transform(translate(-50%, 0));
      }
    }
    &:before {
      border-color: transparent $darkBeige transparent transparent;
      @include breakpoint($breakpoint-m-min) {
        border-color: $darkBeige transparent transparent transparent;
      }
    }
    &:after {
      right: calc(100% + #{$space-mobile});
      border-color: transparent $white transparent transparent;
      @include breakpoint($breakpoint-m-min) {
        right: auto;
        top: 100%;
        border-color: $white transparent transparent transparent;
      }
    }
  }

}



/* Open Navigation for Mobile devices */
[data-sidebar-container] {
  &:after {
    content: '';
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    z-index: 97;
    @include transition(opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s);
  }
}

.sidebar-open {
  &:after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }

  .nav--main-menu--level-1 .nav {
    @include transform(translate3d(0, 0, 0));
  }
}

/* Nav-Trigger for small devices */

.header__navtrigger {
  float: right;
  color: $gray;
  position: relative;
  z-index: 99;
  padding: 5px;
  @include margin(($space - 5px) null);
  @include breakpoint($breakpoint-m-min) {
    display: none;
  }
  &:hover {
    color: $darkGray;
    .lines {
      background: $darkGray;
      &:before, &:after {
        background: $darkGray;
      }
    }
  }
}

/* Indicator */
.header__subnav__indicator {
  clear: both;
  float: left;
  color: $gray;
  line-height: $space;
  font-size: 1.4em;
  font-family: $font-serif;
  @include padding($space-small null);
  @include breakpoint($breakpoint-xs-min) {
    @include padding($space null);
  }
  @include breakpoint($breakpoint-m-min) {
    margin: 0;
    padding: 0;
    background-color: initial;
  }
  @include breakpoint($breakpoint-m-min) {
    display: block;
    font-size: 24px;
    line-height: 18px;
    @include padding(($space) 0);
  }
  @include breakpoint($breakpoint-l-min) {
    @include padding($space-large 0);
  }

  a {
    text-decoration: none;
  }
}
