/**
* Images
*/


/* Image Float-Boxes */

.file-image {
  img {
    padding: $space-xsmall-mobile;
    border: 1px solid $darkBeige;
    max-width: none;
    width: 100%;
    height: auto;
  }
  &.float-left {
    margin-bottom: $space;
    @include breakpoint($breakpoint-s-min) {
      float: left;
      max-width: 300px;
      @include margin(0 $space $space null);
    }
    @include breakpoint($breakpoint-l-min) {
      @include margin(0 $space-large $space-large -100px);
      max-width: 400px;
    }
  }
  &.float-right {
    margin-bottom: $space;
    @include breakpoint($breakpoint-s-min) {
      float: right;
      max-width: 300px;
      @include margin(0 null $space $space);
    }
    @include breakpoint($breakpoint-l-min) {
      @include margin(0 -100px $space-large $space-large);
      max-width: 400px;
    }
  }
  .copyright {
    font-size: .8em;
  }
}

/* Image Float-Boxes */

.floatbox {
  @include shadow();
  background: $brightBeige;
  margin-bottom: $space;
  padding: $space;
  clear: both;
  @include breakpoint($breakpoint-l-min) {
    margin-bottom: $space-large;
    padding: $space-large;
  }
}
.floatbox-left {
  clear: none;
  @include breakpoint($breakpoint-s-min) {
    float: left;
    margin-right: $space;
  }
  @include breakpoint($breakpoint-l-min) {
    @include margin(0 $space-large $space-large -100px);
    max-width: 400px;
  }
}
.floatbox-right {
  clear: none;
  @include breakpoint($breakpoint-s-min) {
    float: right;
    margin-left: $space;
  }
  @include breakpoint($breakpoint-l-min) {
    @include margin(0 -100px $space-large $space-large);
    max-width: 400px;
  }
}

/* Embedded Media-Players */

.media_embed {
  position: relative;
  padding-bottom: 56%;
  height: 0;
  overflow: hidden;
}
.media_embed video,
.media_embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* content of old wordpress blog */

.alignright,
.alignleft {
  outline: 1px solid $brightGray;
  margin-bottom: $space-xsmall;
}
.alignright {
  float: right;
  margin-left: $space-small;
}
.alignleft {
  float: left;
  margin-right: $space-small;
}