/**
* Landingpages
*/

.lp-header {
  position: relative;
  background: $beige;
  border-bottom: 1px solid $darkBeige;
  padding-top: $space;
  padding-bottom: $space;
  @include container();
  @include grid-container();
}
.lp-header__left {
  position: relative;
  z-index: 1;
  display: none;
  @include grid-column(12);
  @include breakpoint($breakpoint-s-min) {
    @include grid-column(6);
    display: block;
  }
  svg {
    max-width: 250px;
    margin: 0 auto;
    display: block;
    path {
      fill: $orangeBG;
      stroke: $white;
      stroke-width: 6px;
    }
  }
}
.lp-header__right {
  position: relative;
  z-index: 1;
  @include grid-column(12);
  @include breakpoint($breakpoint-s-min) {
    @include grid-column(6);
    padding-top: $space-large;
  }
  h2 {
    color: $darkGray;
    font-weight: 900;
    position: relative;
    padding-left: 65px;
    font-size: 1.7em;
    @include breakpoint($breakpoint-xs-min) {
      padding-left: 70px;
      font-size: 1.9em;
    }
    @include breakpoint($breakpoint-l-min) {
      padding-left: 75px;
      font-size: 2.1em;
    }
    span {
      display: block;
      margin-left: $space-xsmall;
      font-size: 1.3em;
      @include breakpoint($breakpoint-xs-min) {
        font-size: 1.4em;
      }
    }
    &:before {
      content: '\e901';
      display: block;
      position: absolute;
      font-family: 'awfont';
      font-size: 1.8em;
      left: $space-xsmall-mobile;
      top: -$space-xsmall-mobile;
      @include breakpoint($breakpoint-xs-min) {
        font-size: 2em;
      }
    }
  }
  .form__item--combine {
    font-size: 1.2em;
  }
  .link-icon {
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    @include breakpoint($breakpoint-s-min) {
      margin-left: $space-xsmall;
      text-align: left;
    }
  }
}
.lp-header__bg {
  @include grid-container();
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.lp-header__bg__item {
  width: 10%;
  height: 0;
  padding-bottom: 10%;
  opacity: .2;
  position: relative;
  overflow: hidden;

  display: block;
  float: left;
  background: $darkGray;
  @include breakpoint($breakpoint-xl-min) {
    width: 5%;
    padding-bottom: 5%;
  }
  img {
    position: absolute;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    width: calc(100% + 10px);
    max-width: none;
    @include filter(blur(1px));
  }
  &:after,
  &:before {
    position: absolute;
    content: '';
    z-index: 8;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $beige;
  }
  &:before {
    opacity: 1;
    mix-blend-mode: screen;
  }
  &:after {
    opacity: 1;
    mix-blend-mode: color;
    z-index: 9;
  }

  &:nth-child(1n) img { @include filter(blur(1px)); }
  &:nth-child(2n) img { @include filter(blur(1.5px)); }
  &:nth-child(3n) img { @include filter(blur(2px)); }
  &:nth-child(4n) img { @include filter(blur(1px)); }
  &:nth-child(5n) img { @include filter(blur(1.5px)); }
  &:nth-child(6n) img { @include filter(blur(1px)); }
  &:nth-child(7n) img { @include filter(blur(2px)); }
  &:nth-child(8n) img { @include filter(blur(1px)); }
  &:nth-child(9n) img { @include filter(blur(1.5px)); }

  &:nth-child(1n):before { opacity: 0.5; }
  &:nth-child(2n):before { opacity: 0.4; }
  &:nth-child(3n):before { opacity: 0.7; }
  &:nth-child(4n):before { opacity: 0.2; }
  &:nth-child(5n):before { opacity: 0.8; }
  &:nth-child(6n):before { opacity: 0.3; }
  &:nth-child(7n):before { opacity: 0.5; }
  &:nth-child(8n):before { opacity: 0.6; }
  &:nth-child(9n):before { opacity: 0.7; }
  &:nth-child(1n):after { opacity: 0.5; }
  &:nth-child(2n):after { opacity: 0.6; }
  &:nth-child(3n):after { opacity: 0.7; }
  &:nth-child(4n):after { opacity: 0.9; }
  &:nth-child(5n):after { opacity: 0.8; }
  &:nth-child(6n):after { opacity: 0.6; }
  &:nth-child(7n):after { opacity: 0.9; }
  &:nth-child(8n):after { opacity: 0.6; }
  &:nth-child(9n):after { opacity: 0.7; }
}


.donate-teaser {
  @include grid-container();
  border-bottom: 1px solid $darkBeige;
  padding-top: $space-large;
  padding-bottom: $space-large;
  @include container();
  @include breakpoint($breakpoint-s-min) {
    padding-top: $space-large + $space-small;
    padding-bottom: $space-large + $space-small;
  }
  p {
    @include grid-column(12);
    text-align: center;
    margin-bottom: 0;
    @include breakpoint($breakpoint-s-min) {
      text-align: left;
      font-size: 1.05em;
      line-height: 1.6em;
      @include grid-column(8);
    }
    @include breakpoint($breakpoint-m-min) {
      font-size: 1.2em;
      line-height: 1.8em;
    }
  }
  span {
    font-weight: 600;
    color: $orange;
    font-size: 1.2em;
  }
  .btn {
    @include grid-column(12);
    margin-top: $space;
    @include breakpoint($breakpoint-s-min) {
      float: right;
      width: auto;
      margin-right: $space;
      margin-top: $space-xsmall;
    }
    @include breakpoint($breakpoint-l-min) {
      margin-top: $space-small;
    }
  }
}