/**
* Landingpages
*/

.lp-header {
  position: relative;
  background: $beige;
  border-bottom: 1px solid $darkBeige;
  padding-top: $space-large;
  padding-bottom: $space-large;

  background-image: url('../images/lp_header/default.jpg');
  background-size: cover;
  @include container();
  @include grid-container();
  @include breakpoint($breakpoint-s-min) {
    padding-top: $space;
    padding-bottom: $space;
  }
  & + .donate-teaser {
    border-top: 0;
  }
}
.lp-header__left {
  position: relative;
  z-index: 1;
  display: none;
  text-align: center;
  @include grid-column(12);
  @include breakpoint($breakpoint-s-min) {
    @include grid-column(6);
    display: block;
  }
  .icon {
    color: $orangeBG;
    font-size: 20em;
    display: inline-block;
    text-shadow: -3px 0 $white, 0 3px $white, 3px 0 $white, 0 -3px $white;
  }
  .icon-eu {
    margin-top: $space-large;
    font-size: 19em;
  }
  .icon-de-bw {
    font-size: 16em;
    margin-bottom: $space-large + $space;
  }
  .icon-de-th,
  .icon-de-sh,
  .icon-de-st,
  .icon-de-rp,
  .icon-de-sl,
  .icon-de-sl,
  .icon-de-nw,
  .icon-de-ni,
  .icon-de-mv,
  .icon-de-hh,
  .icon-de-be {
    font-size: 16em;
    margin-top: $space;
    margin-bottom: $space-large;
  }
}
.lp-header__right {
  position: relative;
  z-index: 19;
  @include grid-column(12);
  @include breakpoint($breakpoint-s-min) {
    @include grid-column(6);
    padding-top: $space-large;
  }
  h2 {
    color: $darkGray;
    font-weight: 900;
    position: relative;
    padding-left: 45px;
    font-size: 1.45em;
    @include breakpoint($breakpoint-xs-min) {
      padding-left: 70px;
      font-size: 1.9em;
    }
    @include breakpoint($breakpoint-s-min) {
      padding-left: 45px;
      font-size: 1.45em;
    }
    @include breakpoint($breakpoint-m-min) {
      padding-left: 70px;
      font-size: 1.9em;
    }
    @include breakpoint($breakpoint-l-min) {
      padding-left: 75px;
      font-size: 2.1em;
    }
    span {
      display: block;
      margin-left: $space-xsmall;
      font-size: 1.3em;
      @include breakpoint($breakpoint-xs-min) {
        font-size: 1.4em;
      }
    }
    &:before {
      content: '\e901';
      display: block;
      position: absolute;
      font-family: 'awfont';
      font-size: 45px;
      left: 0;
      top: -$space-xsmall-mobile;
      @include breakpoint($breakpoint-xs-min) {
        font-size: 64px;
        left: $space-xsmall-mobile;
      }
      @include breakpoint($breakpoint-s-min) {
        font-size: 45px;
        left: 0;
      }
      @include breakpoint($breakpoint-m-min) {
        font-size: 64px;
        left: $space-xsmall-mobile;
      }
    }
  }
  .form--pw-globals-politician-search-form,
  .form__item--combine {
    font-size: 1.2em;
  }
  .link-icon {
    font-weight: 300;
    display: inline-block;
    margin-right: auto;
    margin-left: $space;
    padding-top: $space-xsmall-mobile;
  }
}
.lp-header__bg {
  @include grid-container();
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.lp-header__bg__item {
  width: 10%;
  height: 0;
  padding-bottom: 10%;
  opacity: .2;
  position: relative;
  overflow: hidden;

  display: block;
  float: left;
  background: $darkGray;
  @include breakpoint($breakpoint-xl-min) {
    width: 5%;
    padding-bottom: 5%;
  }
  img {
    position: absolute;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    width: calc(100% + 10px);
    max-width: none;
    @include filter(blur(1px));
  }
  &:after,
  &:before {
    position: absolute;
    content: '';
    z-index: 8;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $beige;
  }
  &:before {
    opacity: 1;
    mix-blend-mode: screen;
  }
  &:after {
    opacity: 1;
    mix-blend-mode: color;
    z-index: 9;
  }

  &:nth-child(1n) img { @include filter(blur(1px)); }
  &:nth-child(2n) img { @include filter(blur(1.5px)); }
  &:nth-child(3n) img { @include filter(blur(2px)); }
  &:nth-child(4n) img { @include filter(blur(1px)); }
  &:nth-child(5n) img { @include filter(blur(1.5px)); }
  &:nth-child(6n) img { @include filter(blur(1px)); }
  &:nth-child(7n) img { @include filter(blur(2px)); }
  &:nth-child(8n) img { @include filter(blur(1px)); }
  &:nth-child(9n) img { @include filter(blur(1.5px)); }

  &:nth-child(1n):before { opacity: 0.5; }
  &:nth-child(2n):before { opacity: 0.4; }
  &:nth-child(3n):before { opacity: 0.7; }
  &:nth-child(4n):before { opacity: 0.2; }
  &:nth-child(5n):before { opacity: 0.8; }
  &:nth-child(6n):before { opacity: 0.3; }
  &:nth-child(7n):before { opacity: 0.5; }
  &:nth-child(8n):before { opacity: 0.6; }
  &:nth-child(9n):before { opacity: 0.7; }
  &:nth-child(1n):after { opacity: 0.5; }
  &:nth-child(2n):after { opacity: 0.6; }
  &:nth-child(3n):after { opacity: 0.7; }
  &:nth-child(4n):after { opacity: 0.9; }
  &:nth-child(5n):after { opacity: 0.8; }
  &:nth-child(6n):after { opacity: 0.6; }
  &:nth-child(7n):after { opacity: 0.9; }
  &:nth-child(8n):after { opacity: 0.6; }
  &:nth-child(9n):after { opacity: 0.7; }
}


.donate-teaser {
  @include grid-container();
  border-top: 1px solid $darkBeige;
  border-bottom: 1px solid $darkBeige;
  padding-top: $space-large;
  padding-bottom: $space-large;
  @include container();
  @include breakpoint($breakpoint-s-min) {
    padding-top: $space-large + $space-small;
    padding-bottom: $space-large + $space-small;
  }
  p {
    @include grid-column(12);
    text-align: center;
    margin-bottom: 0;
    @include breakpoint($breakpoint-s-min) {
      text-align: left;
      font-size: 1.05em;
      line-height: 1.6em;
      @include grid-column(8);
    }
    @include breakpoint($breakpoint-m-min) {
      font-size: 1.2em;
      line-height: 1.8em;
    }
  }
  span {
    font-weight: 600;
    color: $orange;
    font-size: 1.2em;
  }
  .btn {
    @include grid-column(12);
    margin-top: $space;
    @include breakpoint($breakpoint-s-min) {
      float: right;
      width: auto;
      margin-right: $space;
      margin-top: $space-xsmall;
    }
    @include breakpoint($breakpoint-l-min) {
      margin-top: $space-small;
    }
  }
  & + .patron-teaser,
  & + .question-teaser-pre {
    border-top: 0;
  }
}

.patron-teaser {
  @include grid-container();
  position: relative;
  border-top: 1px solid $darkBeige;
  padding-top: $space;
  padding-bottom: $space-large;
  @include container();
  @include breakpoint($breakpoint-xs-min) {
    padding-top: $space-large;
    padding-bottom: $space-large;
  }
  @include breakpoint($breakpoint-xl-min) {
    padding-top: $space-large + $space;
    padding-bottom: $space-large + $space;
  }
  .node-teaser > p { margin: 0; }
  h3 {
    font-size: 1em;
    padding-left: 33.3%;
    padding-right: 10%;
    margin-bottom: 60px;
    margin-top: $space + $space-xsmall-mobile;
    @include breakpoint($breakpoint-xs-min) {
      padding-left: 0;
      padding-right: 0;
      margin-top: $space-small;
      margin-bottom: $space;
    }
  }
  .patron-teaser__btn {
    @include grid-column(12);
    clear: both;
    @include breakpoint($breakpoint-xs-min) {
      @include grid-column(9);
      @include grid-push(3);
    }
  }
  .node-teaser {
    @include grid-container();
  }
}
.patron-teaser figure,
.patron-teaser__image {
  position: absolute;
  top: $space-xsmall;
  @include grid-column(4);
  text-align: center;
  @include breakpoint($breakpoint-xs-min) {
    margin-top: $space * 2;
    position: static;
    @include grid-column(3);
  }
  @include breakpoint($breakpoint-m-min) {
    @include grid-column(2);
    @include grid-push(1);
  }
  > img,
  .patron-teaser__image__inner {
    @include image-circle(60px,60px);
    border-width: 3px;
    display: inline-block;
    @include breakpoint($breakpoint-xs-min) {
      width: 80px;
      height: 80px;
    }
    @include breakpoint($breakpoint-s-min) {
      width: 120px;
      height: 120px;
      border-width: 4px;
    }
    @include breakpoint($breakpoint-m-min) {
      width: 140px;
      height: 140px;
      border-width: 5px;
    }
  }
  figcaption,
  .patron-teaser__image__info {
    font-size: .8em;
    padding-top: $space-xsmall-mobile;
  }
}
.patron-teaser__content {
  @include grid-column(12);
  @include breakpoint($breakpoint-xs-min) {
    padding-top: 0;
    @include grid-column(9);
  }
  blockquote {
    margin-bottom: $space-xsmall;
    p {
      display: inline;
    }
  }
  blockquote + p {
    margin-bottom: $space;
  }
}



.lp-teaser {
  @include grid-container();
  @include container();
  @include padding($space null $space null);
  border-bottom: 1px solid $darkBeige;
  @include breakpoint($breakpoint-s-min) {
    @include padding($space-large null $space-large null);
  }
  @include breakpoint($breakpoint-l-min) {
    @include padding(($space-large + $space) null ($space-large + $space) null);
  }
  p {
    text-align: center;
    @include grid-column(12);
    @include breakpoint($breakpoint-s-min) {
      @include grid-column(3);
      text-align: left;
    }
  }
  > p.mh-item {
    @include grid-column(12);
    @include breakpoint($breakpoint-s-min) {
      @include grid-column(6);
    }
    @include breakpoint($breakpoint-m-min) {
      padding-left: $space-large;
    }
  }
  .btn {
    display: block;
    font-weight: 300;
    line-height: 1em;
    @include breakpoint($breakpoint-s-min) {
      float: right;
      display: inline-block;
    }
  }
}
.lp-teaser__logo {
  @include grid-column(12);
  text-align: center;
  margin-bottom: $space;
  @include breakpoint($breakpoint-s-min) {
    text-align: left;
    @include grid-column(3);
    margin-bottom: 0;
    display: block;
  }
  img {
    width: 100%;
    height: auto;
    max-width: 300px;
  }
}

.lp-teaser--kc {
  p {
    @include breakpoint($breakpoint-s-min) {
      margin-left: 0;
      @include grid-column(3, $neat-grid-rtl);
    }
  }
  > p.mh-item {
    @include breakpoint($breakpoint-s-min) {
      margin-left: 0;
      @include grid-column(6, $neat-grid-rtl);
    }
  }
  .lp-teaser__logo {
    @include breakpoint($breakpoint-s-min) {
      text-align: right;
      margin-left: 0;
      @include grid-column(3, $neat-grid-rtl);
    }
    img {
      max-width: 250px;
    }
  }
  .btn {
    @include breakpoint($breakpoint-s-min) {
      float: left;
    }
  }
}

.lp-teaser--election {
  background: $orangeBG;
  padding-top: $space-small;
  padding-bottom: $space-small;
  p:first-child {
    color: $white;
    margin-bottom: 0;
    @include grid-column(12);
    @include breakpoint($breakpoint-m-min) {
      padding-top: $space-xsmall;
      @include grid-column(8);
    }
    a {
      font-weight: 500;
      color: $white;
    }
  }
  p:last-child {
    display: none;
    @include breakpoint($breakpoint-m-min) {
      @include grid-column(4);
      display: block;
    }
  }
  .icon {
    color: $white;
    font-size: 1.2em;
    margin-left: $space-xsmall-mobile;
    margin-right: $space-xsmall-mobile - 2;
  }
}


.lp-blog {
  clear: both;
  @include breakpoint($breakpoint-s-min) {
    display: inline-flex;
    flex-direction: row;
  }
  > .blog.tile {
    float: none;
    margin-bottom: $space;
    padding-bottom: $space-large * 2;
    position: relative;
    @include breakpoint($breakpoint-s-min) {
      margin-bottom: 0;
    }
    .tile__links {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      width: auto;
    }
  }
}

