/**
* List definitions
*/

ul {
  @include margin($space null);
}
li {
  @include paragraph();
}

/* Definition List */

.dl {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid $gray;
  position: relative;
  @include paragraph();
}

.dl__dt {
  padding: 0;
  margin: 0;
  width: 40%;
  float: left;
  @include text-overflow();
  @include padding($space-small-mobile null);
  @include breakpoint($breakpoint-m-min) {
    width: 30%;
    @include padding($space-small null);
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 1px solid $gray;
    margin-top: -$space-small-mobile;
    @include breakpoint($breakpoint-m-min) {
      margin-top: -$space-small;
    }
  }
}
.dl__dd {
  margin: 0 0 0 40%;
  padding-left: $space-small-mobile;
  @include padding($space-small-mobile null);
  @include breakpoint($breakpoint-m-min) {
    margin: 0 0 0 30%;
    @include padding($space-small null);
  }
}

/* Icon-List */

.icon-list {
  @include icon-list();
}

/* Tag-list */

.tag-list {
  margin: 0;
  padding: 0;
  > li {
    margin: 0 $space-xsmall-mobile 0 0;
    list-style: none;
    float: left;
    a {
      padding: 0 $space-xsmall-mobile;
      @include tag($white, $darkBeige, $mediumGray);
      &:before {
        content: '\e840';
        font-family: 'awfont';
        font-size: .8em;
        margin-right: $space-xsmall-mobile;
      }
    }
  }
}