/**
* Nav
*
* Defines common navigation styles
*/

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav__item {
  display: block;
  margin: 0;
  padding: 0;
  @include breakpoint($breakpoint-m-min) {
    float: left;
  }
}
.nav__item__trigger,
.nav__item__link {
  display: block;
  text-decoration: none;
  color: $mediumGray;
  &:hover {
    color: $darkGray;
  }
}
.nav__item--active {
  .nav__item__trigger,
  .nav__item__link {
    color: $darkGray;
  }
}


// Variant: Dropdown
.nav__item--dropdown {}


// Dropdown

.dropdown {
  position: relative;
  @include grid-container;

}
.dropdown__text {
  float: left;
}
.dropdown__trigger {
  float: right;
  text-align: center;
}
.dropdown__list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  @include transition(all 300ms ease);
  @include breakpoint($breakpoint-m-min) {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 99;
  }
}
.dropdown--open .dropdown__list {
  display: block;
  @include breakpoint($breakpoint-m-min) {
    opacity: 1;
    pointer-events: auto;
  }
}
.dropdown__list__item__link {
  color: $mediumGray;
  &:hover {
    color: $darkGray;
  }
}


