/**
* Newsletter
*/

.newsletter.tile {
  @include grid-column(12);
  margin-bottom: $space;
  @include breakpoint($breakpoint-s-min) {
    @include grid-column(6);
    margin-bottom: $space-large;
  }
  @include breakpoint($breakpoint-m-min) {
    @include grid-column(4);
  }
  .tile__title {
    border: 0;
    padding-top: $space;
    padding-bottom: $space;
    text-align: center;
    @include h3();
  }
  .tile__image {
    background: $brightGray;
  }
}

.newsletter.detail {
  @include container();

  .archive_0 { display: none; }
  .archive_1 { display: block; }

  .eyecatcher {
    background: #f8f8f8;
    border: 1px solid #999;
    border-width: 1px 0;
    margin: 0 -10px 60px;
    padding: 12px 10px;
  }
  .eyecatcher h3,
  .eyecatcher h3 a {
    color: #f63;
  }
  .eyecatcher .social-media { top: 12px; }
  .eyecatcher .read-more { float: right; }

  .entity-paragraphs-item .social-media + h3,
  .node-testimonial blockquote  {
    margin-right: 70px;
  }
  blockquote {
    &:before {
      content: none;
    }
  }
  .hide {
    display: none;
  }
  .ExternalClass {width:100%;}
  .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
    line-height: 100%;
  }
  body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
  body {margin:0; padding:0;}
  table td {border-collapse:collapse;}
  p {margin:0; padding:0; margin-bottom:0;}
  h1, h2, h3, h4, h5, h6 {
    color: black;
    line-height: 100%;
  }
  a, a:link {
    color:#f63;
    text-decoration: none !important;
  }
  .copyright a { color: #666; text-decoration: none !important; }
  h3 a:link {
    color: black;
    text-decoration: none;
  }
  body, #body_style {
    background:#fff;
    min-height:1000px;
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
  }
  span.yshortcuts { color:#000; background-color:none; border:none;}
  span.yshortcuts:hover,
  span.yshortcuts:active,
  span.yshortcuts:focus {color:#000; background-color:none; border:none;}

  a:visited { color: #f63; text-decoration: none}
  a:focus { color: #f63; text-decoration: underline}
  a:hover { color: #f63; text-decoration: underline}

  *[class="show"],
  .show {
    overflow: visible !important;
    float: none !important;
    display: block !important;
    line-height:100% !important;
    position: static !important;
  }
  @media (max-width: 480px) {
    body[yahoo] #container1 {display:block !important}
    body[yahoo] p {font-size: 10px}
  }
  @media (min-width: 768px) and (max-width: 1024px){
    body[yahoo] #container1 {display:block !important}
    body[yahoo] p {font-size: 12px}
  }
  .visible_mobile {display: none !important;}
  .imageWidth { height: auto; }
  .fluid-image {
    height:auto !important;
    max-width:600px !important;
    width: 100% !important;
  }
  @media (max-width: 640px)  {
    .deviceWidth {width:440px!important; padding:0;}
    .deviceWidthInner {width:410px!important; padding:0;}
    .imageWidth {width:320px!important; padding:0;}
    .block_td {display: block;}
    .percent_td {width: 100% !important;}
    .pic_td {width: 300px !important;}
    .hidden_mobile {display: none !important;}
    .visible_mobile {display: block !important;}
  }
  @media (max-width: 479px) {
    .deviceWidth {width:300px!important; padding:0;}
    .deviceWidthInner {width:250px!important; padding:0;}
    .imageWidth {width:300px!important; padding:0;}
    .hidden_mobile_small {display: none !important;}
    .visible_mobile_small { display: block !important; height: auto !important; width: 100% !important; visibility: visible !important; }
  }
  ul { list-style: none; color: #4d4d4d; margin: 0; padding: 0; padding-bottom: 20px; padding-top: 0px; }
  li, ul li { list-style: none; color: #4d4d4d; margin: 0; padding: 0; padding-left: 20px; background-image: url(https://www.abgeordnetenwatch.de/sites/all/themes/custom/parliamentwatch/images/newsletter/list-icon.png); background-repeat: no-repeat; background-position: 2px 3px; }
}





