/**
* Page
* Styling for basic pages
*/

// Tiles

.page.tile {
  @include grid-column(12);
  margin-bottom: $space;
  @include breakpoint($breakpoint-s-min) {
    @include grid-column(6);
    margin-bottom: $space-large;
  }
  @include breakpoint($breakpoint-l-min) {
    @include grid-column(3);
  }
  .tile__title {
    border: 0;
    padding-top: $space;
    padding-bottom: $space;
    text-align: center;
    @include h3();
  }
}


// Detail
.node-type-page .intro {
  @include container-small();
}
.page.detail {
  @include container-small();
  padding-bottom: $space-large;
  @include breakpoint($breakpoint-l-min) {
    padding-bottom: $space-large * 2;
  }
  .content {
    @include grid-column(12);
  }
}
.node-type-page #content > .container {
  padding: 0;
}