/**
* Partners
*/

.tile.partner {
  @include grid-column(12);
  margin-bottom: $space;
  @include breakpoint($breakpoint-s-min) {
    @include grid-column(6);
    margin-bottom: $space-large;
  }
  @include breakpoint($breakpoint-m-min) {
    @include grid-column(4);
  }
  @include breakpoint($breakpoint-l-min) {
    @include grid-column(3);
  }
  .tile__image {
    text-align: center;
    position: relative;
    img {
      height: auto;
      width: 65%;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%,-50%));
    }
  }
  .tile__title {
    border: 0;
    padding: $space 0;
    margin: 0;
    float: none;
    width: auto;
    text-align: center;
    @include h3();
  }
}