/**
* Petitions
*/

// Temp-Styles

.view-pw-petitions {
  background: $beige;
  .view-content {
    @include container();
    padding: $space-large 0;
    > ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}

// Intro
.intro--petition {
  h1 {
    margin-bottom: $space;
  }
  h3 {
    display: none;
    @include breakpoint($breakpoint-m-min) {
      clear: both;
      margin-top: $space-large * 2;
      margin-bottom: $space-large + $space;
      display: block;
    }
  }
  .intro__right {
    position: relative;
    img {
      @include breakpoint($breakpoint-m-min) {
        max-width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%,-80%));
      }
    }
  }
}
.petition__steps {
  display: none;
  @include breakpoint($breakpoint-m-min) {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    @include grid-container();
  }
}
.petition__steps__item {
  margin: 0;
  padding: 0 $space-large;
  position: relative;
  text-align: center;
  @include grid-column(3, $neat-grid-no-gutter);
  &:after {
    content: '\e805';
    font-family: "awfont";
    font-size: 2em;

    position: absolute;
    right: -$space-xsmall;
    top: 50%;
    color: $gray;
    @include transform(translate(0,-50%));
  }
  .icon {
    color: $orange;
    font-size: 2em;
  }
  span {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -40px;
    font-weight: 600;
    color: $orange;
  }
  p {
    clear: both;
    margin: 0;
    padding: $space-xsmall 0;
    font-size: .9em;
  }

  &:nth-child(3) {
    position: relative;
    &:after {
      content: '';
      width: 1px;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      border-right: 1px solid $gray;

      @include transform(translate(0,0));
    }
  }

  &:last-child {
    a {
      display: inline-block;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left:  $space-xsmall-mobile;
        right:  $space-xsmall-mobile;
        top:  $space-xsmall-mobile;
        bottom:  $space-xsmall-mobile;

        background: rgba(0,0,0,.2);
      }
    }
    img {
      padding: $space-xsmall-mobile;
      box-shadow: 0 3px 5px rgba(0,0,0,.1);
      max-height: 85px;
      display: block;
    }
    .icon {
      box-shadow: 0 3px 5px rgba(0,0,0,.1);
      position: absolute;
      left: 50%;
      top: 50%;
      color: rgb(197, 0, 0);
      background: $white;
      font-size: 1.4em;
      border-radius: 50%;
      padding: $space-xsmall;
      @include transform(translate(-50%,-50%));
    }
    span { display: none; }
    &:after { content: none; }
  }
}


// Tiles

.petition.tile {
  @include grid-column(12);
  margin-bottom: $space;
  @include breakpoint($breakpoint-s-min) {
    @include grid-column(6, $neat-grid-large-gutter);
    margin-bottom: $space-large;
  }
  @include breakpoint($breakpoint-m-min) {
    @include grid-column(4, $neat-grid-large-gutter);
  }
  .tile__title {
    border: 0;
    padding-top: $space;
    padding-bottom: $space;
    text-align: center;
  }

}
.petition__state_indicator {
  position: relative;
  text-align: center;
  padding: 0 0 $space-xsmall;
  white-space: nowrap;
  &:after {
    content: '';
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: -$space-small;
    background: $white;
    border-radius: 50%;
    @include transform(translate(-50%,0));
  }
}
.petition__state_indicator__item {
  width: 36px;
  height: 36px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-align: center;
  background: $beige;
  border-radius: 50%;
  margin-top: $space-xsmall-mobile;
  margin-right: $space-xsmall-mobile;
  @include breakpoint($breakpoint-xl-min) {
    width: 50px;
    height: 50px;
  }
  &:last-child {
    margin-right: 0;
  }
  .icon {
    line-height: 36px;
    @include breakpoint($breakpoint-xl-min) {
      line-height: 50px;
    }
  }
}
.petition__state_indicator--state-1 {
  text-align: left;
  padding-left: calc(50% + 40px);
  .petition__state_indicator__item:nth-child(1) {
    width: 50px;
    height: 50px;
    background: $orange;
    border: 0;
    position: absolute;
    top: -7px;
    left: 50%;
    margin: 0;
    @include transform(translate(-50%,0));
    @include breakpoint($breakpoint-xl-min) {
      width: 64px;
      height: 64px;
    }
    .icon {
      line-height: 50px;
      font-size: 1.5em;
      color: $white;
      @include breakpoint($breakpoint-xl-min) {
        line-height: 64px;
      }
    }
  }
}
.petition__state_indicator--state-2 {
  text-align: left;
  padding-left: calc(50% - 80px);
  .petition__state_indicator__item:nth-child(2) {
    width: 50px;
    height: 50px;
    background: $orange;
    border: 0;
    position: absolute;
    top: -7px;
    left: 50%;
    margin: 0;
    @include transform(translate(-50%,0));
    @include breakpoint($breakpoint-xl-min) {
      width: 64px;
      height: 64px;
    }
    .icon {
      line-height: 50px;
      font-size: 1.5em;
      color: $white;
      @include breakpoint($breakpoint-xl-min) {
        line-height: 64px;
      }
    }
  }
  .petition__state_indicator__item:nth-child(1) {
    margin-right: 83px;
    @include icon-ok();
  }
}

.petition__state_indicator--state-3 {
  text-align: right;
  padding-right: calc(50% + 40px);
  .petition__state_indicator__item:nth-child(3) {
    width: 50px;
    height: 50px;
    background: $orange;
    border: 0;
    position: absolute;
    top: -7px;
    left: 50%;
    margin: 0;
    @include transform(translate(-50%,0));
    @include breakpoint($breakpoint-xl-min) {
      width: 64px;
      height: 64px;
    }
    .icon {
      line-height: 50px;
      font-size: 1.5em;
      color: $white;
      @include breakpoint($breakpoint-xl-min) {
        line-height: 64px;
      }
    }
  }
  .petition__state_indicator__item:nth-child(1),
  .petition__state_indicator__item:nth-child(2) {
    @include icon-ok();
  }
}


.petition__result_asked {
  border-top: 1px solid $darkBeige;
  border-bottom: 1px solid $darkBeige;
  text-align: center;
}

.petition__result_asked__inner {
  padding: $space-xsmall 0 $space-xsmall ($space-large + $space-small);
  position: relative;
  font-size: .9em;
  margin-bottom: 0;
  display: inline-block;
  text-align: left;
  line-height: 1.6em;
  @include breakpoint($breakpoint-m-min) {
    font-size: .7em;
  }
  @include breakpoint($breakpoint-l-min) {
    font-size: .8em;
  }
  @include breakpoint($breakpoint-xl-min) {
    font-size: .9em;
  }
  .icon-ok {
    position: absolute;
    top: 50%;
    left: 0;
    width: ($space-large + $space-small);
    color: $color-accepted;
    text-align: center;
    @include transform(translate(0,-50%));
  }
}