/**
* Question and answer styling
*/

.question {
}
.question__question__title {
  @include h4();
  font-weight: 300;
  font-style: italic;
  color: $black;
}

/* Variant: Tile */

.question.tile {
  .question__question {
    padding-bottom: $space-large;
  }
  .question__answer {
    background: $brightGray;
    @include box-inset-padded();
    @include padding($space null $space-xsmall);
    position: relative;
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12px 12px 12px;
      border-color: transparent transparent $brightGray transparent;
      position: absolute;
      left: $space-small;
      bottom: 100%;
      @include breakpoint($breakpoint-m-min) {
        left: $space;
      }
    }
  }
  .question__links {
    margin-top: 0;
    padding-top: $space;
    background: $brightGray;
  }
  .tile__links__item:first-child .tile__links__item__link { color: $darkGray; }
  .tile__links__item:first-child:last-child .tile__links__item__link { color: $orange; }
  .question__answer__author__image {
    @include image-circle(35px, 35px);
    border-width: 2px;
    display: inline-block;
    margin: -$space-xsmall $space-small -$space-xsmall;
  }
}


.question-teaser-pre {
  border-top: 1px solid $darkBeige;
  @include container();
  background: $orangeBG;
  border-top: 1px solid $white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: $white;
  h2 {
    font-family: $font-sans-serif;
    color: $white;
  }
  .intro__right {
    text-align: right;
  }
}

.question-teaser {
  background: $orangeBG;
  padding-top: ($space-large + $space);
  padding-bottom: ($space-large + $space);
  .tile {
    @include grid-column(12);
    margin-bottom: $space;
    @include breakpoint($breakpoint-s-min) {
      @include grid-column(6);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .qa-stats {
    padding-top: 0;
    padding-bottom: $space-large;
    margin: 0 0 $space-large;
    position: relative;
    &:before {
      position: absolute;
      bottom: 0;
      left: $space;
      right: $space;
      margin: 0;
      width: auto;
    }
  }
  .pager { clear: both; }
  .pager__next a {
    color: $white;
  }
}
.question.full {
  padding-top: $space-large;
  .question__meta {
    @include grid-column(12);
  }
  .question__question {
    @include grid-column(12);
    padding-bottom: $space-large * 2;
  }
  .question__answer-wrapper {
    @include container-small-extended($brightGray);
    padding-top: $space-large;
    padding-bottom: $space-large;
    @include breakpoint($breakpoint-m-min) {
      padding-top: $space-large * 2;
      padding-bottom: $space-large * 2;
    }
  }
  .question__answer {
    @include grid-column(12);
  }
  .question__answer__author {
    padding-bottom: $space;
    margin-bottom: $space-large;
    border-bottom: 1px solid $gray;
  }
}
