/**
* Question and answer styling
*/

.question {
}
.question__question__title {
  @include h4();
  font-weight: 300;
  font-style: italic;
  color: $black;
}


/* Variant: Tile */

.question.tile {
  padding-bottom: 0;
  .question__question {
    padding-bottom: $space-xsmall;
  }
  .question__answer {
    background: $brightGray;
    @include box-inset-padded();
    @include padding($space null $space-xsmall);
    position: relative;
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12px 12px 12px;
      border-color: transparent transparent $brightGray transparent;
      position: absolute;
      left: $space-small;
      bottom: 100%;
      @include breakpoint($breakpoint-m-min) {
        left: $space;
      }
    }
  }
  .question__links {
    margin-top: 0;
    padding-top: 0;
    background: $brightGray;
  }
  .tile__links__item:first-child .tile__links__item__link { color: $darkGray; }
}
