/**
* Question and answer styling
*/

.question {
}


/* Variant: Tile */

.question.tile {
  @include grid-column(12);
  margin-bottom: $space;
  @include breakpoint($breakpoint-xs-min) {
    @include grid-column(6);
  }
  @include breakpoint($breakpoint-m-min) {
    @include grid-column(4);
  }
  .question__question {
    padding-bottom: $space-large;
  }
  .question__answer {
    background: $brightGray;
    @include box-inset-padded();
    @include padding($space null $space-xsmall);
    position: relative;
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12px 12px 12px;
      border-color: transparent transparent $brightGray transparent;
      position: absolute;
      left: $space-small;
      bottom: 100%;
      @include breakpoint($breakpoint-m-min) {
        left: $space;
      }
    }
  }
  .question__links {
    margin-top: 0;
    padding-top: $space;
    background: $brightGray;
  }
  .tile__links__item:first-child .tile__links__item__link { color: $darkGray; }
  .tile__links__item:first-child:last-child .tile__links__item__link { color: $orange; }
  .question__answer__author__image {
    @include image-circle(35px, 35px);
    border-width: 2px;
    display: inline-block;
    margin: -$space-xsmall $space-small -$space-xsmall;
  }
}

.question__question__title {
  @include h4();
  font-weight: 300;
  font-style: italic;
  color: $black;
  font-family: $font-serif;
  margin-bottom: $space;
  p {
    margin-bottom: $space-xsmall;
    line-height: 1.3em;
  }
}


.question-teaser-pre {
  border-top: 1px solid $darkBeige;
  @include container();
  background: $orangeBG;
  border-top: 1px solid $white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: $white;
  h2 {
    font-family: $font-sans-serif;
    color: $white;
  }
  .intro__right {
    text-align: right;
  }
}

.question-teaser {
  background: $orangeBG;
  padding-top: ($space-large + $space);
  padding-bottom: ($space-large + $space);
  .tile {
    @include grid-column(12);
    margin-bottom: $space;
    @include breakpoint($breakpoint-s-min) {
      @include grid-column(6);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .qa-stats {
    padding-top: 0;
    padding-bottom: $space-large;
    margin: 0 0 $space-large;
    position: relative;
    &:before {
      position: absolute;
      bottom: 0;
      left: $space;
      right: $space;
      margin: 0;
      width: auto;
    }
  }
  .pager { clear: both; }
  .pager__next a {
    color: $white;
  }
}
.question.full {
  .question__meta {
    @include grid-column(12);
    padding-top: $space;
    padding-bottom: $space;
    margin-bottom: $space-large;
    background: $brightBeige;
  }
  .tile__meta__tag {
    background: transparent;
    margin-left: 0;
    padding-left: $space-xsmall;
  }
  .question__meta__date {
    padding-right: $space-xsmall;
  }
  .question__question {
    @include grid-column(12);
    padding-bottom: $space-large * 2;
  }
  .question__answer-wrapper {
    @include container-small-extended($brightGray);
    padding-top: $space-large;
    padding-bottom: $space-large;
    @include breakpoint($breakpoint-m-min) {
      padding-top: $space-large * 2;
      padding-bottom: $space-large * 2;
    }
  }
  .question__answer {
    @include grid-column(12);
  }
  .question__answer__author {
    padding-bottom: $space;
    margin-bottom: $space-large;
    border-bottom: 1px solid $gray;
  }
  .question__question__title p {
    line-height: 1.6em;
    margin-bottom: $space;
  }
}

.question__profile_teaser {
  padding-top: $space-large;
  @include container-small();
  h1 {
    @include h6();
    margin-top: $space;
    padding-top: $space;
    padding-bottom: $space;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    clear: both;
    position: relative;
    text-align: center;
    margin-bottom: 0;

    @include breakpoint($breakpoint-xs-min) {
      margin-top: $space-large;
    }
    &:after,
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 100%;
      @include transform(translate(-50%,0));
    }
    &:before {
      @include triangle(46px 15px, $darkGray, down);

    }
    &:after {
      @include triangle(44px 14px, $white, down);
    }
  }
  .question__profile_teaser__inner {
    @include grid-column(12);
  }
  .question__profile_teaser__inner__image {
    @include image-circle(60px, 60px);
    border-width: 3px;
    float: left;
    margin-right: $space-large;
  }
  .question__profile_teaser__inner__content {
    position: relative;
    padding-top: $space-xsmall;
    .question__profile_teaser__inner__content__name {
      font-size: 1.2em;
      display: block;
      margin-bottom: $space-xsmall-mobile;
    }
    .party-indicator {
      display: block;
    }
    .btn {
      clear: both;
      margin-top: $space-large;
      @include breakpoint($breakpoint-xs-min) {
        position: absolute;
        right: 0;
        top: $space;
        margin-top: 0;
      }
    }
  }
}