/**
* Scaffolding
*
* Defines global settings for page background, width and spacings
*/

* {
  @include box-sizing(border-box);
}

body {
  margin: 0;
  padding: 0;
}

.page-container {
  overflow: hidden;
  position: relative;
  min-height: 100%;
  min-height: 100vh;
}

/* images */

img {
  max-width: 100%;
  height: auto;
}

/* container-elements */

.container {
  @include container();
}

.row {
  @include grid-container;
  @include breakpoint($breakpoint-xs-min) {
    @include grid-collapse;
  }
}

