/**
* Stats
*/


/* hstats - horizontal Stats */

.hstats {
  @include grid-container($neat-grid-small-gutter);
  @include padding($space-small null);
  @include breakpoint($breakpoint-m-min) {
    @include grid-container();
  }
}
.hstats__item {
  display: table;
  vertical-align: middle;
}
.hstats__item__display {
  margin-right: 10px;
  display: table-cell;
  vertical-align: middle;
}
.hstats__item__label {
  font-size: .8em;
  color: $darkGray;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}


/* hstats variants */

.hstats__item--digit {
  .hstats__item__label {
    padding-left: 5px;
    width: 50%;
  }
  .hstats__item__display {
    width: 50%;
    font-size: 1.6em;
  }
}

.hstats__item--donut {
  .hstats__item__display {
    margin-right: 0;
    > .d3--gauge {
      display: block;
    }
  }
}
/* hstats grid variants */

.hstats--2 {
  .hstats__item {
    @include grid-column(6, $neat-grid-small-gutter);
    &:first-child {
      text-align: right;
      margin-left: 0;
      margin-right: $space-small;
    }
    &:last-child {
      text-align: left;
    }
  }
}

/* Vertical bars */

.vertical-bar {
  width: 100%;
  height: 6px;
  background: rgba(255,255,255,.4);
  span {
    background: rgba(255,255,255,1);
    display: block;
    width: 0;
    height: 6px;

    @include transition(width 600ms ease);
  }
}

.qa-stats-behavior__item {
  color: $white;
  padding-bottom: $space-xsmall;
  @include grid-container();
  & + .btn {
    float: right;
  }
}
.qa-stats-behavior__item__party {
  padding-top: $space-xsmall-mobile;
  padding-bottom: $space-xsmall-mobile;
  span {
    font-weight: 600;
  }
}
.qa-stats-behavior__item__info {
  padding-top: $space-xsmall-mobile;
  padding-bottom: $space-xsmall-mobile;
  text-align: right;
  @include breakpoint($breakpoint-xs-min) {
    display: inline-block;
    float: right;
  }
}
.qa-stats-behavior__item__info-sub {
  font-size: .8em;
  text-align: right;
  @include breakpoint($breakpoint-xs-min) {
    display: inline-block;
    float: right;
    padding-top: $space-xsmall-mobile + 1;
    margin-right: $space-xsmall;
  }
}

/* Question and answers statistics*/

.qa-stats {
  clear: both;
  padding-top: $space-large;
  @include grid-container();
  @include container-regular();
  &:before {
    content: '';
    border-top: 1px solid rgba(255,255,255,.4);
    width: 100%;
    height: 0;
    display: block;
    margin-bottom: $space-large;
  }
  .hstats__item {
    margin-bottom: $space;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .hstats__item__display {
    width: 45px;
    height: 45px;
  }
  .hstats__item__label {
    color: $white;
    padding-left: $space-small;
    font-size: .9em;
    font-weight: 500;
    line-height: 1.2em;
    width: auto;
  }
  .hstats__item--digit .hstats__item__display {
    white-space: nowrap;
    font-size: 2em;
    text-align: center;
    color: $white;
  }
}
.qa-stats__col {
  margin-bottom: $space-large;
  @include grid-column(12, $neat-grid-no-gutter);
  @include breakpoint($breakpoint-xs-min) {
    @include grid-column(6, $neat-grid-no-gutter);
  }
  @include breakpoint($breakpoint-s-min) {
    @include grid-column(3, $neat-grid-no-gutter);
  }
}
.qa-stats__col--large {
  clear: both;
  margin-bottom: 0;
  padding-top: $space;
  border-top: 1px solid rgba(255,255,255,.4);
  @include grid-column(12, $neat-grid-no-gutter);

  @include breakpoint($breakpoint-s-min) {
    clear: none;
    padding-top: 0;
    border-top: 0;
    @include grid-column(6, $neat-grid-no-gutter);
  }
  @include breakpoint($breakpoint-s-min) {
    padding-left: 6%;
  }
  strong {
    display: block;
    font-size: .9em;
    padding-bottom: $space-small;
    color: $white;
  }
}
.qa-stats__left {
  @include grid-column(12, $neat-grid-no-gutter);
  @include breakpoint($breakpoint-m-min) {
    @include grid-column(6, $neat-grid-no-gutter);
  }
  .qa-stats__col {
    @include grid-column(12, $neat-grid-no-gutter);
    @include breakpoint($breakpoint-xs-min) {
      @include grid-column(6, $neat-grid-no-gutter);
    }
  }
  .qa-stats__col--large {
    padding-top: $space-large;
    border-top: 1px solid rgba(255,255,255,.4);
    @include breakpoint($breakpoint-xs-min) {
      padding-left: 0;
      @include grid-column(12, $neat-grid-no-gutter);
    }
  }
}
.qa-stats__right {
  @include grid-column(12, $neat-grid-no-gutter);
  @include breakpoint($breakpoint-m-min) {
    @include grid-column(6, $neat-grid-no-gutter);
  }
  .qa-stats__col--large {
    border: 0;
    padding-left: 0;
    padding-top: $space-large;
    @include grid-column(12, $neat-grid-no-gutter);
    @include breakpoint($breakpoint-m-min) {
      padding-top: 0;
      padding-left: $space-large;
    }
  }
}





