/**
* Stats
*/


/* hstats - horizontal Stats */

.hstats {
  @include grid-container($neat-grid-small-gutter);
  @include padding($space-small null);
  @include breakpoint($breakpoint-m-min) {
    @include grid-container();
  }
}
.hstats__item {
  display: table;
  vertical-align: middle;
}
.hstats__item__display {
  margin-right: 10px;
  display: table-cell;
  vertical-align: middle;
}
.hstats__item__label {
  font-size: .8em;
  color: $darkGray;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}


/* hstats variants */

.hstats__item--digit {
  .hstats__item__label {
    padding-left: 5px;
    width: 50%;
  }
  .hstats__item__display {
    width: 50%;
    font-size: 1.6em;
  }
}

.hstats__item--donut {
  .hstats__item__display {
    margin-right: 0;
    > .d3--gauge {
      display: block;
    }
  }
}
/* hstats grid variants */

.hstats--2 {
  .hstats__item {
    @include grid-column(6, $neat-grid-small-gutter);
    &:first-child {
      text-align: right;
      margin-left: 0;
      margin-right: $space-small;
    }
    &:last-child {
      text-align: left;
    }
  }
}




