/**
* Swiper definitions
*/

.swiper-container {
  width: 100%;
  position: static;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: $white;
  display: inline-block;
  width: 45px;
  height: 45px;
  text-align: center;
  background-image: none;
  position: static;
  @include transform(translate(0,0));
  margin-top: $space;
  @include breakpoint($breakpoint-xs-min) {
    width: 55px;
    height: 55px;
  }
  @include breakpoint($breakpoint-xl-min) {
    position: absolute;
    top: 500px;
    @include transform(translate(0,-50%));
  }
  &:before {
    font-family: "awfont";
    font-size: 1.2em;
    line-height: 45px;
    color: $orangeBG;
    @include breakpoint($breakpoint-xs-min) {
      line-height: 55px;
      font-size: 1.3em;
    }
  }
}
.swiper-button-next {
  float: right;
  @include breakpoint($breakpoint-xl-min) {
    right: 0;
    float: none;
    @include transform(translate(0,-50%));
  }
  &:before { content: '\e805' }
}
.swiper-button-prev {
  float: left;
  left: 0;
  &:before { content: '\e804' }
}
.swiper-container--tile {
  .tile {
    color: $darkGray;
    width: 100%;
    height: 100%;
    position: relative;
    @include flex-shrink(0);
  }
}
