/**
* Tabs
*/

.tabs {
  position: relative;
  background: $beige;
}
.tabs__navigation {
  background: $white;
  margin-bottom: -1px;
  position: relative;
  z-index: 1;
  @include container();
}
.nav--tab {
  display: none;
  @include breakpoint($breakpoint-m-min) {
  @include grid-column(12);
    @include grid-container();
    display: block;
  }
  .nav__item {
    @include breakpoint($breakpoint-l-min) {
      font-size: 1.2em;
    }
  }
  .nav__item__link {
    display: block;
    @include padding($space $space-large);
    @include breakpoint($breakpoint-m-min) {
    }
  }
  .nav__item--active .nav__item__link {
    background: $beige;
  }
}
.tabs__content {
  @include grid-container();
  @include breakpoint($breakpoint-m-min) {
    @include padding($space-large null);
    display: none;
    border-bottom: 0;
  }
  @include breakpoint($breakpoint-l-min) {
    @include padding(($space-large * 2) null);
  }
}
.tabs__content__title {
  width: auto;
  margin: 0;
  float: none;

  @include breakpoint($breakpoint-m-min) {
    @include container-regular();
    padding-bottom: 0;
    margin-bottom: $space-large;
    width: auto;
  }
  h2 {
    font-family: $font-sans-serif;
    margin: 0;
    font-size: 1.4em;
    @include breakpoint($breakpoint-xs-min) {
      font-size: 1.6em;
    }
    @include breakpoint($breakpoint-m-min) {
      font-size: 2em;
    }
    a {
      padding: $space;
      display: block;
      border-bottom: 1px solid $darkBeige;
      position: relative;
      color: $darkGray;
      @include breakpoint($breakpoint-m-min) {
        border-bottom: 0;
        padding: 0;
      }
      &:after {
        content: '\e805';
        font-family: 'awfont';
        position: absolute;
        right: $space;
        top: 50%;
        font-size: .7em;
        @include transform(translate(0, -50%));
        @include breakpoint($breakpoint-m-min) {
          content: initial;
          display: none;
        }
      }
    }
  }
}
.tabs__content__title.option-title {
  > * {
    display: none;
    @include breakpoint($breakpoint-m-min) {
      display: block;
    }
  }
  h2 {
    display: block;
  }
  .btn {
    @include breakpoint($breakpoint-m-min) {
      float: right;
    }
  }
}
.tabs__content__content {
  display: none;
  @include container();
  @include grid-container();
  padding-bottom: $space-large;
  @include breakpoint($breakpoint-m-min) {
    display: block;
    padding-bottom: 0;
  }
}

/* Tab-Status: active */

.tabs__content--active {
  border-bottom: 1px solid $darkBeige;
  @include breakpoint($breakpoint-m-min) {
    display: block;
  }
  .tabs__content__content {
    display: block;
  }
  .tabs__content__title {
    padding-bottom: $space;
    h2 a {
      &:after {
        content: '\e847';
      }
    }
  }
}


/* Trigger-Element for collapsed nav-tabs */

.nav-mobile-trigger {
  display: block;
  font-size: 1.6em;
  padding: $space $space-xsmall;
  float: right;
  @include breakpoint($breakpoint-m-min) {
    display: none;
  }
}