/**
* Tabs
*/

.tabs {
  position: relative;
}
.nav--tab {
  display: none;
  @include breakpoint($breakpoint-m-min) {
    display: block;
  }
  .nav__item__link {
    display: block;
    @include padding($space $space-large);
    @include breakpoint($breakpoint-m-min) {
    }
  }
  .nav__item--active .nav__item__link {
    background: $beige;
  }
}
.tabs__content {
  @include breakpoint($breakpoint-m-min) {
    @include padding($space-large null);
    display: none;
    border-bottom: 0;
  }
  @include breakpoint($breakpoint-l-min) {
    @include padding(($space-large * 2) null);
  }
}
.tabs__content__title {
  @include grid-collapse();
  @include breakpoint($breakpoint-m-min) {
    margin: 0 0 $space-large;
    width: auto;
  }
  h2 {
    font-family: $font-sans-serif;
    font-size: 1.4em;

    margin: 0;
    @include breakpoint($breakpoint-xs-min) {
      font-size: 1.6em;
    }
    @include breakpoint($breakpoint-m-min) {
      font-size: 2em;
    }
    a {
      padding: $space;
      display: block;
      border-bottom: 1px solid $darkBeige;
      position: relative;
      color: $darkGray;
      @include breakpoint($breakpoint-m-min) {
        border-bottom: 0;
        padding: 0;
      }
      &:after {
        content: '\e805';
        font-family: 'awfont';
        position: absolute;
        right: $space;
        top: 50%;
        font-size: .7em;
        @include transform(translate(0, -50%));
        @include breakpoint($breakpoint-m-min) {
          content: initial;
          display: none;
        }
      }
    }
  }
}
.tabs__content__title.option-title {
  > * {
    display: none;
    @include breakpoint($breakpoint-m-min) {
      display: block;
    }
  }
  h2 {
    display: block;
  }
  .btn {
    @include breakpoint($breakpoint-m-min) {
      float: right;
    }
  }
}
.tabs__content__content {
  display: none;
  padding-bottom: $space-large;
  @include breakpoint($breakpoint-m-min) {
    display: block;
    padding-bottom: 0;
  }
}


/* Tab-Status: active */

.tabs__content--active {
  border-bottom: 1px solid $darkBeige;
  @include breakpoint($breakpoint-m-min) {
    display: block;
  }
  .tabs__content__content {
    display: block;
  }
  .tabs__content__title h2 a {
    &:after {
      content: '\e847';
    }
  }
}


/* Trigger-Element for collapsed nav-tabs */

.nav-mobile-trigger {
  display: block;
  font-size: 1.6em;

  position: absolute;
  right: 0;
  bottom: 100%;
  @include breakpoint($breakpoint-m-min) {
    display: none;
  }
}