/**
* Trustees - Kuratorium
*/

.trustees {
  @include grid-container();
  padding-bottom: $space-large;
  margin-top: $space-large * 2;
  margin-bottom: $space-large;
  .trustees__item {
    @include grid-container();
    border-bottom: 1px solid $gray;
    margin-bottom: $space-large;
    .float-left {
      margin-left: 0;
      margin-bottom: $space;
    }
  }
}
