/**
* Typography
*/


body {
  font-family: $font-sans-serif;
  font-size: $base-font-size - 2;
  font-weight: 300;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include breakpoint($breakpoint-m-min) {
    font-size: $base-font-size - 1;
  }
  @include breakpoint($breakpoint-l-min) {
    font-size: $base-font-size;
  }
}


/* Headlines */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: $font-serif;
  color: $darkGray;
  @include margin(0 null .6em);
}

h1, .h1 { @include h1(); }
h2, .h2 { @include h2(); }
h3, .h3 { @include h3(); }
h4, .h4 { @include h4(); }
h5, .h5 { @include h5(); }
h6, .h6 { @include h6(); }


/* Paragraphes */

p {
  @include paragraph();
}




/* Links */

a {
  text-decoration: none;
  color: $orange;

  &:hover {
    color: $darkOrange;
  }
}

/* Text-Alignment */
.text-left {
  text-align: left;
}
.text-right {
  text-align: right ;
}
.text-center {
  text-align: center;
}