/**
* Typography
*/


body {
  font-family: $font-sans-serif;
  font-size: $base-font-size - 2;
  font-weight: 300;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include breakpoint($breakpoint-m-min) {
    font-size: $base-font-size - 1;
  }
  @include breakpoint($breakpoint-l-min) {
    font-size: $base-font-size;
  }
}


/* Headlines */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: $font-serif;
  color: $darkGray;
  @include margin(0 null .6em);
}

h1, .h1 { @include h1(); }
h2, .h2 { @include h2(); }
h3, .h3 { @include h3(); }
h4, .h4 { @include h4(); }
h5, .h5 { @include h5(); }
h6, .h6 { @include h6(); }

/* Paragraphes */

p {
  @include paragraph();
  &:last-child {
    margin-bottom: 0;
  }
}

/* Links in paragraphes */

p > a {
  font-weight: 600;
}

/* Headlines + Paragraphes */

p + h2, p + h3, p + h4 { margin-top: 1.8em }
p + h5, p + h6 { margin-top: 1.4em }


/* Links */

a {
  text-decoration: none;
  color: $orange;

  &:hover {
    color: $darkOrange;
  }
}

/* Quotes */

blockquote {
  margin: 0 0 $space;
  padding: 0;
  font-family: $font-serif;
  font-style: italic;
  font-size: 1.3em;
  line-height: 1.5em;
  quotes: "\201C""\201D""\2018""\2019";
  @include breakpoint($breakpoint-s-min) {
    font-size: 1.4em;
    line-height: 1.6em;
  }
  &:before {
    color: $gray;
    content: open-quote;
    font-size: 3.5em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    @include breakpoint($breakpoint-s-min) {
      font-size: 4em;
    }
  }
}

/* Text-Alignment */
.text-left {
  text-align: left;
}
.text-right {
  text-align: right ;
}
.text-center {
  text-align: center;
}