/**
* Utilities
*
* Helper Classes
*/


.svg-container {
    svg {
        display: block;
        width: 100%;
    }
}

/* Screen-reader only */
.visually-hidden,
.element-invisible,
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/* Links with icons */

.link-icon {
  color: $darkGray;
  font-weight: 600;
  .icon {
    color: $orange;
    display: inline-block;
  }
  .icon-arrow-right {
    font-size: .7em;
    position: relative;
    top: -.2em;
  }
}

/* Title with options */

.option-title {
  @include grid-column(12);
  @include grid-container();
  h1, h2, h3 {
    margin-top: 2px;
    margin-left: 0 !important;
    width: auto !important;
    margin-bottom: $space-xsmall;
    @include breakpoint($breakpoint-m-min) {
      float: left;
      margin-bottom: 0;
    }
  }
  .form__item {
    display: block;
    position: relative;
    margin-bottom: 0;
    @include breakpoint($breakpoint-m-min) {
      float: right;
      width: 260px;
      margin-bottom: 0;
    }
  }
  .btn {
    @include button--mobile-block();
    clear: both;
    @include breakpoint($breakpoint-xs-min) {
      clear: none;
      float: right;
    }
  }
}

/* Tag-Styling */

.tag {
  @include tag($beige, $darkBeige, $mediumGray);
  padding: 3px 5px;
  & + .tag {
    @include breakpoint($breakpoint-s-min) {
      margin-left: 5px;
    }
  }
}

/* Images */
figure {
  margin: 0;
  padding: 0;
}
figcaption {
  padding: $space-xsmall-mobile 0;
  color: $gray;
  font-size: .8em;
}

/* party indicator */

.party-indicator {
  color: $darkGray;
  display: inline-block;
  &:before {
    content: '';
    background-color: $gray;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    @include margin(0px 5px null null);
  }
}

/* share */

.share {
  padding: $space-large 0;
  border-top: 1px solid $darkBeige;
  border-bottom: 1px solid $darkBeige;
  @include container();
  @include grid-container();
  h3 {
    @include h4();
    font-family: $font-sans-serif;
    padding-left: $space;
    @include breakpoint($breakpoint-m-min) {
      margin: 0;
      float: left;
      line-height: 34px;
    }
  }
  .share__links {
    padding-left: $space;
    @include breakpoint($breakpoint-m-min) {
      padding-right: $space;
      padding-left: 0;
      float: right;
    }
  }
}
.share__links {
  list-style: none;
  margin: 0;
  padding: 0;
  @include grid-container();
}
.share__links__item {
  float: left;
  margin-right: $space-small;
  margin-bottom: 0;
  &:last-child { margin-right: 0; }
}
.share__links__item__link {
  display: block;
  background: $gray;
  color: $white;
  line-height: 34px;
  @include grid-container();
  @include transition(background 300ms ease);
  @include breakpoint($breakpoint-m-min) {
    padding-right: $space-small;
  }
  .icon {
    text-align: center;
    width: 34px;
    height: 34px;
    line-height: 34px;
    display: block;
    float: left;
    background: $gray - 20;
    @include breakpoint($breakpoint-m-min) {
      margin-right: $space-xsmall;
    }
  }
  span {
    display: none;
    @include breakpoint($breakpoint-m-min) {
      display: inline;
    }
  }
  &:hover {
    color: $white;
    background: $gray - 20;
  }
}
.share__links__item--facebook .share__links__item__link {
  background: #6074b7;
  &:hover, .icon { background: #3953a1; }
}
.share__links__item--twitter .share__links__item__link {
  background: #55c5fb;
  &:hover, .icon { background: #25b7f9; }
}
.share__links__item--google .share__links__item__link {
  background: #f96f56;
  &:hover, .icon { background: #fa3f15; }
}
.share__links__item--whatsapp .share__links__item__link {
  background: #71e9a3;
  &:hover, .icon { background: #29d871; }
}

.share__links__item--whatsapp {
  @include breakpoint($breakpoint-s-min) {
    display: none;
  }
}

/* Intro */

.intro {
  @include padding($space-large null);
  @include container();
  @include breakpoint($breakpoint-m-min) {
    @include padding(($space-large * 2) null);
  }
  > .container {
    position: relative;
  }
  > h1 {
    margin-bottom: 0;
    @include grid-column(12)
  }
  .intro__date {
    color: $gray;
    font-family: $font-serif;
    margin-top: $space-xsmall;
    @media(max-width: $breakpoint-xl-max) {
      @include date-inline();
    }
    @include breakpoint($breakpoint-xl-min) {
      @include date-stacked();
      position: absolute;
      right: 100%;
      top: 0;
      margin-right: $space;
      margin-top: 0;
      width: 60px;
      text-align: center;
      font-size: 2.4em;
    }
    & + p {
      margin-top: $space;
    }
  }
  .intro__left {
    position: relative;
    @include grid-column(12);
    padding-bottom: $space-large;
    @include breakpoint($breakpoint-s-min) {
      @include grid-column(7);
      padding-bottom: 0;
    }
    @include breakpoint($breakpoint-m-min) {
      @include grid-column(7);
      padding-bottom: 0;
    }
  }
  .intro__right {
    @include grid-column(12);
    @include breakpoint($breakpoint-s-min) {
      @include grid-column(5);
      padding-left: $space-large;
    }
    @include breakpoint($breakpoint-m-min) {
      @include grid-column(4);
      @include grid-push(1);
      padding-left:0;
    }
  }
  .intro__full {
    @include grid-column(12);
  }
}

/* Intro - Right to left */

.intro--rtl {
  .row {
    @include grid-collapse($neat-grid-rtl);
  }
  .intro__left {
    margin-left: 0;
    @include grid-column(12, $neat-grid-rtl);
    @include breakpoint($breakpoint-s-min) {
      @include grid-column(7, $neat-grid-rtl);
    }
    @include breakpoint($breakpoint-m-min) {
      @include grid-column(7, $neat-grid-rtl);
    }
  }
  .intro__right {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: $space;
    @include grid-column(12, $neat-grid-rtl);
    @include breakpoint($breakpoint-s-min) {
      @include grid-column(5, $neat-grid-rtl);
      margin-bottom: 0;

    }
    @include breakpoint($breakpoint-m-min) {
      @include grid-column(4, $neat-grid-rtl);
      @include grid-push(1, $neat-grid-rtl);
    }
  }
}



/* Pager */

.pager {
  list-style: none;
  padding: $space 0;
  margin: 0;
  a {
    color: $darkGray;
  }
}

/* Pager: Single pager */

.pager__next {
  text-align: center;
  position: relative;
  margin: 0;
  a {
    padding-bottom: $space;
    display: inline-block;
    &:after {
      content: '\e847';
      font-family: 'awfont';
      font-size: .7em;

      position: absolute;
      left: 50%;
      bottom: 0;
      @include transform(translate(-50%,0));
    }
  }
}


/* Listen */

/* Inline Links */

.links {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: 500;
  &.inline {
    li {
      display: inline-block;
      margin-right: $space-small-mobile;
      &:before {
        content: '\e805';
        font-family: 'awfont';
        font-size: .7em;
        line-height: 2.2em;
        color: $darkGray;
        display: block;
        float: left;
        margin-right: 5px;
      }
    }
  }
}



/* Info-Elements */

.info-element {
  margin-bottom: $space-large;
}
.info-element--icon {
  padding-left: $space-large;
  position: relative;
  @include breakpoint($breakpoint-m-min) {
    padding-left: $space-large * 2;
  }
  &:before {
    content: '\e829';
    font-family: 'awfont';

    position: absolute;
    left: $space-xsmall-mobile;
    top: 3px;
    opacity: .6;
    @include breakpoint($breakpoint-m-min) {
      left: $space;
      font-size: 1.2em;
    }
  }
}



/* Burger / Close Button */

$button-size : 22px;
$transition-length: .3s;

.lines-button {
  display: inline-block;
  padding: 0;
  border: 0;
  cursor: pointer;
  user-select: none;
  background: none;
  outline: none;
  transition: .3s;
}
@mixin line() {
  display: inline-block;
  width: $button-size;
  height: $button-size/10;
  background-color: $gray;
  @include transition($transition-length);
}
.lines {
  @include line();
  top: -$button-size/10;
  position: relative;
  &:before, &:after {
    content: '';
    position: absolute;
    left: 0;
    @include transform-origin($button-size/14 center);
    @include line();
  }
  &:before { top: $button-size/3.5; }
  &:after { top: -$button-size/3.5; }
}
.lines-button.x.lines-button-close .lines {
    background-color: transparent;
    &:before, &:after {
        @include transform-origin(50% 50%);
        top: 0;
        background-color: $darkGray;
        width: $button-size;
    }
    &:before {
        @include transform(rotate3d(0,0,1,45deg));
    }
    &:after {
        @include transform(rotate3d(0,0,1,-45deg));
    }
}