/**
* Variables
*
* Global variables-definitions
*/


/* Typography */

// Custom Font Stacks

$font-serif: $georgia;
$font-sans-serif: "Open Sans", $helvetica;

$base-font-size: 16px;


/* Color-Definitions */

$orange: #f46b3b;
$brightOrange: $orange + 80;
$darkOrange: $orange - 20;

$orangeBG: #f68a66;

$beige: #f3efe6;
$darkBeige: $beige - 20;

$black: #000;
$white: #fff;
$darkGray: #444;
$mediumGray: #888;
$gray: #aaa;
$brightGray: #f3f3f3;

$success: #c4e5b5;
$error: #e98585;
$warning: $brightOrange;


/* Breakpoints */

$breakpoint-xs-min: 560px;
$breakpoint-xs-max: $breakpoint-xs-min - 1;

$breakpoint-s-min: 768px;
$breakpoint-s-max: $breakpoint-s-min - 1;

$breakpoint-m-min: 992px;
$breakpoint-m-max: $breakpoint-m-min - 1;

$breakpoint-l-min: 1280px;
$breakpoint-l-max: $breakpoint-l-min - 1;

$breakpoint-xl-min: 1600px;
$breakpoint-xl-max: $breakpoint-xl-min - 1;

/* spacer */

$space-xsmall-mobile: 5px;
$space-xsmall: 10px;

$space-small-mobile: 10px;
$space-small: 15px;

$space-mobile: 15px;
$space: 20px;

$space-large-mobile: 20px;
$space-large: 30px;



/* Grids */
$neat-grid: (
    columns: 12,
    gutter: 20px,
    media: 1200px,
    color: rgba(#00d4ff, 0.25),
    direction: ltr
);
$neat-grid-small-gutter: (
  columns: 12,
  gutter: 15px,
  media: 1200px,
  color: rgba(#00d4ff, 0.25),
  direction: ltr
);
$neat-grid-large-gutter: (
  columns: 12,
  gutter: 30px,
  media: 1200px,
  color: rgba(#00d4ff, 0.25),
  direction: ltr
);
$neat-grid-no-gutter: (
  columns: 12,
  gutter: 0px,
  media: 1200px,
  color: rgba(#00d4ff, 0.25),
  direction: ltr
);

/* Grids - rtl */
$neat-grid-rtl: (
  columns: 12,
  gutter: 20px,
  media: 1200px,
  color: rgba(#00d4ff, 0.25),
  direction: rtl
);
$neat-grid-rtl-small-gutter: (
  columns: 12,
  gutter: 15px,
  media: 1200px,
  color: rgba(#00d4ff, 0.25),
  direction: rtl
);
$neat-grid-rtl-no-gutter: (
  columns: 12,
  gutter: 0px,
  media: 1200px,
  color: rgba(#00d4ff, 0.25),
  direction: rtl
);