/**
* Box definitions
*/


/* tile wrapper element */
.tile-wrapper {
  padding-top: $space-large;
  padding-bottom: $space-large;
  background: $beige;
  clear: both;
  position: relative;
  @include container();
  > h2,
  .option-title {
    margin-bottom: $space;
  }
  > h2 {
    @include grid-column(12);
  }
  > .tile + h2 {
    margin-top: $space-large;
  }
  .small-tiles + .option-title,
  .tile + .option-title {
    margin-top: $space-large;
  }
  .row {
    @include breakpoint($breakpoint-s-min) {
      @include grid-collapse($neat-grid-large-gutter);
    }
  }
  .filterbar {
    margin-bottom: $space-large;
  }

  .pager {
    padding-left: $space-small;
    padding-right: $space-small;
  }
}
.tile-wrapper--qa {
  background: $orangeBG;
}

@keyframes rotationCenter {
  0%   { @include transform(translate(-50%, -50%) rotate(0deg)); }
  80%  { @include transform(translate(-50%, -50%) rotate(360deg)); }
  100% { @include transform(translate(-50%, -50%) rotate(360deg)); }
}

@keyframes rotationCenterDelayed {
  0%   { @include transform(translate(-50%, -50%) rotate(0deg)); }
  100% { @include transform(translate(-50%, -50%) rotate(360deg)); }
}

.tile-wrapper--loading {
  &:before {
    opacity: .8;
    pointer-events: inherit;
  }
}

/* Base Tile */

.tile {
  @include box-padded($white);
}

/* Title */

.tile__title {
  border-bottom: 1px solid $beige;
  @include box-inset-padded();
  a {
    color: $darkGray;
  }
}
h1.tile__title,
h3.tile__title { padding-bottom: $space; @include text-overflow-multi(); }

/* Title with date */

.tile__title--date {
  position: relative;
  .date {
    display: block;
    width: $space-large * 2;
    position: absolute;
    left: $space;
    top: $space;
    @include date-stacked();
    font-size: 2em;
  }
  h3 {
    padding-left: ($space-large * 2) + 10px;
    @include h4();
    @include text-overflow-multi();
  }
}

/* Date */

.tile__date {
  background: $white;
  color: $darkGray;
  font-size: .8em;
  display: inline-block;
  padding: 3px $space-xsmall-mobile 3px $space-xsmall;
  font-weight: 600;
  position: absolute;
  left: 0;
  top: $space-small;
  @include date-inline();
}

/* meta */

.tile__meta {
  margin-bottom: $space;
  @include grid-container();
}

/* tile: image */

.tile__image {
  @include box-inset();
  height: 0;
  overflow: hidden;
  padding-bottom: 57.935%;
  a {
    display: block;
  }
  img {
    max-width: none;
    width: 100%;
    display: block;
    padding: 0;
    border: 0;
  }
  .figcaption-overlay {
    right: 0;
    left: 0;
    bottom: 0;
    a {
      display: inline;
    }
  }
  &:first-child {
    @include box-inset-top();
  }
}

/* tile: tags */

.tile__meta__tag {
  background: $beige;
  color: $darkGray;
  font-size: .8em;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 60%;
  max-width: 220px;
  display: inline-block;
  overflow: hidden;
  margin-left: -$space-small;
  padding: $space-xsmall-mobile $space-xsmall-mobile $space-xsmall-mobile $space-small;
  @include breakpoint($breakpoint-m-min) {
    padding-left: $space;
    margin-left: -$space;
  }
}

/* tile: date */

.tile__meta__date {
  font-size: .8em;
  float: right;
  padding: ($space-xsmall-mobile + 2) 0;
  display: inline-block;
  @include date-inline;
}

/* tile: flag */

.tile__flag {
  background: $white;
  padding: 3px $space-xsmall 3px $space-xsmall-mobile;
  position: absolute;
  right: 0;
  top: $space-small;
}

/* tile: Links */

.tile__links {
  list-style: none;
  padding: 0;
  text-align: center;
  @include box-inset-bottom();
}

.tile__links__item {
  margin: 0;
  border-right: 1px solid $gray;
  white-space: nowrap;
  &:last-child {
    border-right: 0;
    .tile__links__item__link {
      color: $orange;
      font-weight: 600;
      &:hover {
        color: $darkOrange;
      }
    }
  }
  &:last-child:first-child {
    float: right;
    border-left: 1px solid $gray;
  }
}
.tile__links__item__link {
  padding: $space-small $space-xsmall;
  display: block;
  color: $gray;
  @include breakpoint($breakpoint-s-min) {
    padding: $space-small;
  }
  &:hover {
    color: $darkGray;
  }
}

.tile__links--2 .tile__links__item {
  @include grid-column(6, $neat-grid-no-gutter);
}


/* tile: Share */
.tile__share {
  position: relative;
  z-index: 2;
  float: right;
  margin-bottom: $space;
}
.tile__share__trigger {
  cursor: pointer;
}
.tile__share__list {
  position: absolute;
  right: 0;
  top: 100%;
  width: 150px;
  opacity: 0;
  pointer-events: none;
  background: $white;
  margin: 0;
  padding: $space-small;
  list-style: none;
}
.tile__share__list__item {
  margin: 0 0 $space-xsmall;
  padding: 0;
  &:last-child {
    margin: 0;
  }
  a {
    color: $gray;
    cursor: pointer;
    display: block;
    @include transition(color 300ms ease);
    .icon {
      width: 20px;
      height: 20px;
      color: $white;
      line-height: 20px;
      font-size: .8em;
      margin-right: $space-xsmall-mobile;

      background: $gray;
      display: inline-block;
      text-align: center;
    }
    &:hover {
      color: $darkGray;
    }
  }
}
.tile__share__list__item--whatsapp {
  @include breakpoint($breakpoint-s-min) {
    display: none;
  }
}

.tile__share__list__item--facebook a .icon { background: #3953a1; }
.tile__share__list__item--twitter a .icon { background: #25b7f9; }
.tile__share__list__item--google-plus a .icon { background: #fa3f15; }
.tile__share__list__item--whatsapp a .icon { background: #29d871; }
.tile__share__list__item--mail a .icon { background: $gray; font-size: .6em; }



.tile__share:hover {
  position: relative;

  .tile__share__list {
    opacity: 1;
    pointer-events: auto;
  }
}

/* tile: Horizontal */

.tile--horizontal {
  padding: 0;
  display: table;
  .tile__title {
    margin: 0;
    padding: 0 0 $space;
    width: auto;
  }
  .tile__image {
    margin: 0;
    padding: 0;
    height: auto;
    overflow: hidden;
    position: relative;
    padding-right: 0;
    @include grid-column(4, $neat-grid-no-gutter);
    @include breakpoint($breakpoint-l-min) {
      @include grid-column(3, $neat-grid-no-gutter);
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: $space-xsmall;
      background: $white;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    }
  }
  .tile__content {
    padding: $space-small;
    text-align: left;
    position: relative;
    z-index: 9;
    @include grid-column(8, $neat-grid-no-gutter);
    @include breakpoint($breakpoint-s-min) {
      padding: $space-large;
    }
    @include breakpoint($breakpoint-l-min) {
      @include grid-column(9, $neat-grid-no-gutter);
    }
  }
}

/* Small tiles */

.small-tiles {
  background: $white;
  @include grid-column(12);
  @include breakpoint($breakpoint-m-min) {
    @include grid-column(8);
  }
  @include breakpoint($breakpoint-l-min) {
    @include grid-column(8);
    border-left: $space-large solid $beige;
  }
  .blog.tile {
    @include grid-column(12, $neat-grid-no-gutter);
    margin-bottom: $space;
    border-bottom: 1px solid $darkBeige;
    @include breakpoint($breakpoint-s-min) {
      padding: $space-large;
    }
    @include breakpoint($breakpoint-l-min) {
      border-bottom: 0;
    }
    .tile__image {
      display: none;
      @include breakpoint($breakpoint-s-min) {
        display: block;
        margin: 0;
        padding-bottom: 14%;
        width: 25%;
        float: left;
      }
      img {
        position: static;
      }
    }
    .tile__title--date .date {
      top: 0;
    }
    .tile__title {
      float: left;
      width: auto;
      padding-top: 0;
      padding-bottom: 0;
      @include breakpoint($breakpoint-s-min) {
        width: 75%;
        margin: 0;
      }
    }
    .tile__links {
      padding: 0;
      margin-top: 0;
      padding-top: $space;
      clear: both;
      @include breakpoint($breakpoint-s-min) {
        margin-bottom: -$space-large;
      }
      @include breakpoint($breakpoint-l-min) {
        margin: 0;
        clear: none;
        float: left;
        width: 75%;
        padding-left: 85px;
      }
    }
    .tile__links__item {
      @include breakpoint($breakpoint-l-min) {
        width: auto;
      }
    }
    .tile__links__item__link {
      padding-top: $space-xsmall;
      padding-bottom: $space-xsmall;
    }
    &:last-child {
      border: 0;
      margin-bottom: 0;
    }
  }
}


/* Sidebar-Boxes */

.sidebar-container {
  @include grid-container();
  > [style*="position:"] {
    width: auto !important;
  }
}

.sidebar__box {
  padding-bottom: $space-large;
  @include breakpoint($breakpoint-l-min) {
    padding-bottom: $space-large + $space;
  }
  .media_embed {
    margin-bottom: $space-small;
  }
}
.sidebar__box__headline {
  position: relative;
  .icon-info {
    position: absolute;
    right: $space-xsmall-mobile;
    top: $space-xsmall-mobile;
    font-size: .7em;
    color: $mediumGray;
  }
}

/* Sidebar-Box: Tag-list */

.sidebar__box__tag_list {
  @include inline-list();
}

/* Sidebar-Box: Link-list */

.sidebar__box__link_list {
  border-top: 1px solid $gray;
  padding: $space-small;
  padding: 0;
  margin: 0;
}
.sidebar__box__link_list__title {
  padding: $space-xsmall 0 $space-xsmall-mobile 0;
  margin: 0;
  display: block;
  position: relative;
  .icon {
    position: absolute;
    right: $space-xsmall-mobile;
    top: $space-small;
    font-size: .7em;
    color: $mediumGray;
  }
}
.sidebar__box__link_list__description {
  padding: 0 0 $space-xsmall 0;
  margin: 0;
  display: block;
  border-bottom: 1px solid $gray;
  font-size: .9em;
}

/* Sidebar-Box: Accordion */

.sidebar__box__accordion {

}
.sidebar__box__accordion__item {
  border-bottom: 1px solid $gray;
}
.sidebar__box__accordion__item__title {
  margin-bottom: 0;
  padding: $space-small-mobile;
  position: relative;
  cursor: pointer;
  &:after {
    content: '\e847';
    font-family: 'awfont';
    color: $orange;
    position: absolute;
    right: $space-xsmall-mobile;
    top: 50%;
    @include transition(transform 300ms ease);
    @include transform(translate(0,-50%));
  }
}
.sidebar__box__accordion__item__content {
  height: 0;
  overflow: hidden;
  background: $brightBeige;
  padding: 0 $space-small-mobile;
  border-top: 1px solid transparent;
  @include transition(all 300ms ease);
}

// State: open

.sidebar__box__accordion__item--open {

  .sidebar__box__accordion__item__content {
    padding: $space-small $space-small-mobile;
    border-top: 1px solid $gray;
    height: auto;
  }
  .sidebar__box__accordion__item__title {
    &:after {
      @include transform(translate(0,-50%) rotate(180deg));
    }

  }
}


/* Wells */
.well {
  background: $beige;
  margin: $space 0;
  @include grid-container();
  .well__left,
  .well__right {
    margin-top: $space;
    margin-bottom: $space;
    @include grid-column(12);
    @include breakpoint($breakpoint-s-min) {
      margin-top: $space-large;
      margin-bottom: $space-large;
      @include grid-column(6, $neat-grid-large-gutter);
    }
  }
}
.well--tabs {
  .tabs__navigation {
    .nav--tab {
      width: auto;
      margin: 0;
      float: none;
    }
    .nav__item {
      margin: 0;
      padding: 0;
      @include grid-column(6, $neat-grid-no-gutter);
      text-align: center;
      &:before {
        content: none;
      }
    }
    .nav__item__link {
      background: $brightBeige;
    }
  }
}


/* Tile Wrapper with css-badges */

.tile-wrapper__badge {
  .tile {
    position: relative;
    &:before {
      content: '';
      font-size: .8em;

      position: absolute;
      right: $space;
      top: -3px;
      padding: ($space-xsmall-mobile + 3) $space-xsmall $space-xsmall-mobile;

      box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
      background: $white;
    }
  }
}
