/**
* Committee
*/


/* Committee-Listenansicht */

.committee.tile {
  @include grid-column(12);
  margin-bottom: $space;
  @include breakpoint($breakpoint-s-min) {
    @include grid-column(6);
    margin-bottom: $space-large;
  }
  @include breakpoint($breakpoint-m-min) {
    @include grid-column(4);
  }
  @include breakpoint($breakpoint-l-min) {
    @include grid-column(3);
  }
  .tile__title {
    border: 0;
    position: relative;
    h1 {
      padding-top: $space;
      padding-bottom: $space;
      text-align: center;
      @include h3();
      margin-bottom: 0;
    }
    p {
      font-size: .8em;
      color: $darkGray;
      text-align: center;
      margin-bottom: 0;
    }
  }

  .commmittee_stats {
    @include grid-container();
    padding: $space 0 $space-small 0;
    .commmittee_stats__item {
      @include grid-column(6, $neat-grid-no-gutter);
      @include grid-container();
      text-align: center;
    }
    .commmittee_stats__item__value {
      display: inline-block;
      font-size: 1.4em;
    }
    .commmittee_stats__item__label {
      padding-left: $space-xsmall-mobile;
      font-size: .8em;
      display: inline-block;
      color: $gray;
      position: relative;
      top: -2px;
    }
  }
}

/* Group Badges */
.tile-wrapper__badge--committee_chairman .tile:before {
  content: 'Vorsitz';
}
.tile-wrapper__badge--committee_vice_chairman .tile:before {
  content: 'Stellv. Vorsitz';
}
.tile-wrapper__badge--committee_spokesman .tile:before {
  content: 'Sprecher';
}
.tile-wrapper__badge--committee_alt_spokesman .tile:before {
  content: 'Stellv. Sprecher';
}
.tile-wrapper__badge--committee_members .tile:before {
  content: 'Mitglied';
}
.tile-wrapper__badge--committee_alt_members .tile:before {
  content: 'Stellv. Mitglied';
}
.tile-wrapper__badge--committee_secretaries .tile:before {
  content: 'Schriftführer';
}
.tile-wrapper__badge--committee_alt_secretaries .tile:before {
  content: 'Stellv. Schriftführer';
}
.tile-wrapper__badge--committee_advisory_members .tile:before {
  content: 'Beratendes Mitglied';
}

/* Embedded committees on profile-page */
.committee-list.tile {
  @include grid-column(12);
  padding: $space;
  margin-bottom: $space;
  &:last-child {
    padding: $space;
    margin-bottom: 0;
  }
  @include breakpoint($breakpoint-s-min) {
    @include grid-column(6);
  }
  h4 {
    padding: 0 $space $space-small;
    margin-right: -$space;
    margin-left: -$space;
    margin-bottom: $space;
    border-bottom: 1px solid $beige;
  }
  ul {
    @include icon-list-underlined();
  }
}
