/**
* EU Cookie Compliance Layer
*/

#sliding-popup {
  background: $orangeBG;
  padding: $space 0;
  border-top: 1px solid $mediumGray;
  box-shadow: 0 -5px 10px 3px rgba(0,0,0,0.1);
  > div {
    @include container();
  }
  .popup-content {
    max-width: none;
    width: auto;
    display: block;
    margin: 0;
    @include grid-column(12);
    #popup-buttons {
      padding-top: $space;
      @include breakpoint($breakpoint-xs-min + 41) {
        padding-top: 0;
        text-align: right;
      }
      .btn {
        margin-bottom: 5px;
        font-size: .8em;
        @include button($white, $orange, 10px, 8px);
        @include breakpoint($breakpoint-s-min) {
          font-size: 1em;
          @include button($white, $orange, 15px, 12px);
        }
      }
    }
  }
  p {
    font-size: .8em;
    color: $white;
    @include breakpoint($breakpoint-s-min) {
      font-size: 1em;
    }
  }
}
