/**
* D3-js specifix styles
*/

.d3 {
  display: block;
  position: relative;
  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}
.d3--executed {
  span {
    display: none;
  }
}
.d3--gauge {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  width: 100%;
  .d3__text {
    font-size: 46px;
    transform: translate(0,7%);;
  }
  svg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
  }
}

.d3__tooltip {
  display: block;
  opacity: 0;
  top: auto;
  position: absolute;
  text-align: center;
  pointer-events: none;
  z-index: 9;
}

.d3--bars-vertical {
  border-bottom: 1px solid $white;
  position: relative;
  z-index: 9;
  .tooltip {
    margin-bottom: $space-small;
    span {
      color: $gray;
      white-space: nowrap;
    }
  }
  height: 0;
  padding-bottom: 17.5%;
  .chart {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
  }
}

.d3--bar-horizontal {
  position: relative;
  height: $space-large + $space;
  background: $brightGray;
  .bar {
    height: $space-large + $space;
    background: $color-accepted;
    display: block;
    width: 0;
    max-width: 100%;
    @include transition(all 800ms ease);
  }
}

/* D3 - Labels */

.d3-label-wrapper {
}
.d3__label {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid $darkBeige;
}
.d3__label__item {
  border-bottom: 1px solid $darkBeige;
  margin: 0;
  padding: $space-xsmall 0;
  @include breakpoint($breakpoint-xs-min) {
    padding: $space-small 0;
  }
  &:last-child {
    border-bottom: 0;
  }
  > a, > a:hover {
    color: $gray;
  }
}
.d3__label__item__indicator {
  width: $space-small-mobile;
  height: $space-small-mobile;
  display: inline-block;
  background: $gray;
  margin-right: $space-small-mobile;
  margin-top: 6px;
  position: relative;
  top: -1px;
  float: left;
}

/* D3 - Labels inline */

.d3__label--inline {
  @include breakpoint($breakpoint-s-min) {
    @include grid-container();
    border-top: 0;
    .d3__label__item {
      border-bottom: 0;
      padding: 0;
      float: left;
      margin-right: $space;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/* D3 - Bars */

.d3-bars {
  @include grid-container();
}


/* D3 - Bars horizontal Stacked */

.d3--bar-horizontal-stacked {
  .d3-bars__item {
    height: 60px;
    background: $gray;
    float: left;
    display: block;
    will-change: transform;
    transform: scaleY(1);
    transition: transform 300ms ease;
    &:hover {
      transform: scaleY(1.1);
    }
  }
  .d3__label--inline {
    @include breakpoint($breakpoint-s-min) {
      padding-top: $space-xsmall-mobile;
      float: right;
    }
  }
  .d3__total-label {
    color: $gray;
    padding-top: $space-xsmall;
    @include breakpoint($breakpoint-s-min) {
      padding-top: $space-xsmall-mobile;
      float: left;
    }
  }
}

.d3--bar-vertical-stacked-poll {
  .d3-chart {
    @include grid-container();
  }
  .d3-bars {
    height: 300px;
    float: left;
  }
  .d3-bars__item {
    width: 60px;
    display: block;
    @include breakpoint($breakpoint-l-min) {
      width: 80px;
    }
    will-change: transform;
    transform: scaleX(1);
    transition: transform 300ms ease;
    &:hover {
      transform: scaleX(1.1);
    }
  }
  .d3__label_outer {
    float: left;
    width: calc(100% - 60px);
    padding-left: $space-large;
    height: 300px;
    position: relative;
    @include breakpoint($breakpoint-l-min) {
      width: calc(100% - 80px);
      padding-left: $space-large + $space-small;
    }
    h3 {
      border-bottom: 1px solid $darkBeige;
      padding-bottom: $space-xsmall-mobile;
      span {
        font-size: .7em;
        color: $gray;
        float: right;
      }
    }
    .d3__label {
      position: absolute;
      bottom: 0;
      left: $space-large;
      right: 0;
      @include breakpoint($breakpoint-l-min) {
        left: $space-large + $space-small;
      }
    }
    .d3__label__item {
      padding: $space-xsmall 0;
    }
  }
}

/* D3 - Donut */
.d3--donut {
  .icon {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
  }
}


