/**
* Footer-Section
*
* Defines the global footer section with complete navigation separated by
* first-level navigation itemes.
*/


#footer {
  background-color: $darkGray;
  color: $brightGray;
  @include padding($space-large null);
  @include grid-container();
}
.footer__maincol {
  @include grid-container();
  @include container();

  > strong {
    @include grid-column(12);
  }
  strong {
    font-family: $font-serif;
    display: block;
    padding-bottom: $space;
  }
  @include breakpoint($breakpoint-s-min) {
    padding-bottom: $space-large;
  }
}
.footer__maincol__col {
  @include grid-column(12);
}
.footer__maincol__col__nav {
  margin: 0 0 $space;
  padding: 0;
  list-style: none;
  @include grid-container();
  @include breakpoint($breakpoint-s-min) {
    margin: 0;
  }
  & + strong {
    margin-top: $space-large;
  }
}
.footer__maincol__col__nav__item {
  position: relative;
  border-bottom: 1px solid $gray;
  padding-left: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 0;
  @include breakpoint($breakpoint-s-min) {
    margin-right: $space-large;
    float: left;
    margin-bottom: $space-xsmall;
    border-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
  }

  &:last-child {
    margin-right: 0;
    border-bottom: 0;
    @include breakpoint($breakpoint-s-min) {
      float: right;
      border-bottom: 1px solid $gray;
    }
  }
}
.footer__maincol__col__nav__item__link {
  color: $brightGray - 80;
  display: block;
  text-decoration: none;
  will-change: color;
  transition: color 300ms ease;
  &.active,
  &:hover {
    color: $brightGray;
  }
  > .icon {
    margin-right: 5px;
  }
}

.footer__mediapartner {
  border-top: 1px solid $mediumGray;
  border-bottom: 1px solid $mediumGray;
  padding: $space 0;
  @include grid-container();
  @include container();
}
.footer__mediapartner__title {
  font-family: $font-serif;
  font-weight: 300;
  font-size: 1em;
  color: $brightGray;
  margin-left: $space;
  line-height: $space;
  @include margin(0 30px $space null);
  @include breakpoint($breakpoint-m-min) {
    float: left;
    @include margin($space 30px $space null);
  }
}
.footer__mediapartner__link {
  float: left;
  display: block;
  height: $space - 4;
  margin: $space-xsmall $space;
  opacity: .6;
  position: relative;

  will-change: opacity;
  transition: opacity 300ms ease;
  @include breakpoint($breakpoint-s-min) {
    margin: $space;
  }
  @include breakpoint($breakpoint-m-min) {
    height: $space - 2;
  }
  img {
    width: auto;
    height: 100%;
  }
  &:hover {
    opacity: 1;
  }
}
.footer__mediapartner__link--more {
  color: $brightGray;
  font-size: .8em;
  border: 1px solid $brightGray;
  padding: 3px $space-xsmall-mobile;
  display: inline-block;
  height: 22px;
  margin-top: 17px;
  &:hover {
    color: $gray;
  }
}

.footer__bottom {
  @include clearfix();
  @include container-regular();
  text-align: center;
  @include breakpoint($breakpoint-s-min) {
    text-align: left;
  }
  .footer__bottom__social {
    @include clearfix();
    margin-top: $space;
    margin-bottom: $space;
    text-align: center;
    @include breakpoint($breakpoint-s-min) {
      float: left;
      text-align: left;
      margin-bottom: 0;
    }
  }
  .footer__bottom__social__item {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 23px;
    margin-right: $space-small;
    color: $gray;
    will-change: color, background;
    transition: color 500ms ease, background 500ms ease;
    &:hover {
      background: $gray;
      color: $white;
    }
    &:last-child {
      margin-right: 0;
    }
    &.footer__bottom__social__item--facebook {
      &:hover {
        background: #334f8d;
      }
    }
    &.footer__bottom__social__item--twitter {
      &:hover {
        background: #1a97f0;
      }
    }
    &.footer__bottom__social__item--youtube {
      &:hover {
        background: #ff0004;
      }
    }
  }
  .footer__logo {
    display: inline-block;

    @include breakpoint($breakpoint-s-min) {
      float: right;
      display: block;
    }
    .svg-container {
      float: right;
      margin-top: $space;
      width: auto;
      svg {
        width: 250px;
        height: 32px;
      }
    }
    path {
      fill: $gray;
    }
  }
}
