/**
* Header-Section
*
* Defines the global header section with logo and navigtion (primary-/secondary)
*/

#header {
  background: $beige;
  border-bottom: 1px solid $darkBeige;
  width: 100%;
  position: fixed;
  z-index: 99999;
}

.header__inner {
  @include container();
}

/* Logo */

.header__logo {
  float: left;
  position: relative;
  z-index: 9;
  margin-left: $space;
  will-change: padding;
  transition: padding 300ms ease;
  @include padding($space-mobile null);
  @include breakpoint($breakpoint-s-min) {
    @include padding(($space-mobile - 3) null);
  }
  @include breakpoint($breakpoint-l-min) {
    @include padding($space null);
  }
  svg {
    padding-bottom: 1px;
    overflow: hidden;
    width: 220px;
    height: 30px;
    will-change: width;
    transition: width 300ms ease;
    @include breakpoint($breakpoint-xs-min) {
      width: 250px;
      height: 32px;
    }
    @include breakpoint($breakpoint-s-min) {
      width: 270px;
      height: 36px;
    }
    @include breakpoint($breakpoint-xl-min) {
      width: 310px;
      height: 41px;
    }
  }
}

/* Navigation */

.nav--main-menu--level-1 {
  background: $white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  height: 100vh;
  width: 280px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  perspective: 1000px;
  overflow-y: scroll;
  overflow-x: visible;
  @include transition(transform 0.5s);
  @media (max-width: $breakpoint-m-max) {
    @include transform(translate3d(120%, 0, 0));
  }
  @include breakpoint($breakpoint-m-min) {
    position: relative;
    display: block;
    width: auto;
    background: transparent;
    box-shadow: none;
    float: right;
    margin-right: $space;
    overflow: visible;
    height: auto;
    @include perspective(initial);
    @include transition(initial);
    @include grid-container;
  }
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: $brightGray;
    border-left: 1px solid $darkBeige;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $mediumGray;
  }
  .nav__item {
    border-bottom: 1px solid $darkBeige;
    &:nth-child(1) .nav__item__link:before {
      content: '\e84f';
    }
    &:nth-child(2) .nav__item__link:before {
      content: '\e81d';
    }
    &:nth-child(3) .nav__item__link:before {
      content: '\e824';
    }
    &:nth-child(4) .nav__item__link:before {
      content: '\e900';
    }
    &:nth-child(5) .nav__item__link:before {
      content: '\e829';
    }
    &:nth-child(6) .nav__item__link:before {
      content: '\e84d';
    }
    &:nth-child(7) .nav__item__link:before {
      content: '\e901';
      margin: 0
    }
    @include breakpoint($breakpoint-m-min) {
      float: left;
      border-bottom: 0;
      border-right: 1px solid $darkBeige;
      &:first-child {
        border-left: 1px solid $darkBeige;
      }
    }
  }
  .nav__item__link {
    font-family: $font-serif;
    line-height: 23px;
    border-bottom: 1px solid transparent;
    background: $brightGray;
    will-change: padding, background;
    transition: padding 300ms ease, background 200ms ease-in-out;
    @include padding($space ($space*0.7) $space (($space*0.7)-5));
    @include breakpoint($breakpoint-m-min) {
      background: transparent;
    }
    @include breakpoint($breakpoint-l-min) {
      @include padding($space-large ($space-large*0.7) $space-large (($space-large*0.7)-10));
    }
    &:before {
      font-family: 'awfont';
      display: inline-block;
      margin-right: 4px;
      width: $space-large;
      text-align: center;
    }
    &:hover {
      background: $beige - 10;
    }
  }
  // active
  .nav__item--active {
    position: relative;
    .nav__item__link {
      background: $white;
      position: relative;
      z-index: 99;
      border-bottom: 1px solid $white;
    }
    &:before {
      content: '';
      position: absolute;
      right: 100%;
      top: $space-large;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent $white transparent transparent;
      border-width: ($space/2) ($space/2) ($space/2) 0;
      @include transform(translate(0,-50%));
      @include breakpoint($breakpoint-m-min) {
        content: none;
      }
    }
    .nav__item__trigger {
      background: $white;
      border-bottom: 1px solid $darkBeige;
    }
    > .dropdown__list {
      @media (max-width: $breakpoint-m-max) {
        display: block;
      }
    }
  }

  // Dropdown

  .nav__item__trigger {
    border-left: 1px solid $darkBeige + 10;
    border-bottom: 1px solid transparent;
    line-height: 23px;
    font-size: .8em;
    will-change: padding, background;
    transition: padding 300ms ease, background 200ms ease-in-out;
    @include padding($space $space-small-mobile);
    background: $brightGray;
    @include breakpoint($breakpoint-m-min) {
      background: transparent;
    }
    @include breakpoint($breakpoint-l-min) {
      @include padding($space-large $space-small-mobile);
    }
    &:hover {
      background: $beige - 10;
    }
  }
  .dropdown__trigger--active,
  .dropdown__trigger--active:hover {
    background: $white;
    border-bottom: 1px solid #fff;
    position: relative;
  }
  .dropdown__text {
    width: 78%;
    @include breakpoint($breakpoint-m-min) {
      width: auto;
    }
  }
  .dropdown__trigger {
    width: 22%;
    @include breakpoint($breakpoint-m-min) {
      width: auto;
    }
  }
  .dropdown__list {
    clear: both;
    @include transition(opacity 200ms ease-in-out);
    border-top: 1px solid $brightGray;
    background: $white;
    @media (max-width: $breakpoint-m-max) {
      position: relative;
    }
    @include breakpoint($breakpoint-m-min) {
      border-top: 0;
      width: 500px;
      left: auto;
      box-shadow: 0 8px 10px rgba(0,0,0,.1);
      @include margin(-1px null null);
    }
  }
  .dropdown__list__item {
    border-bottom: 1px solid $brightGray;
    margin-bottom: 0;
    @include breakpoint($breakpoint-m-min) {
      float: left;
      width: 50%;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  .dropdown__list__item__link {
    @include padding($space-small);
    display: block;
    @include text-overflow();
    &:before {
      font-family: 'awfont';
      display: inline-block;
      margin-right: 4px;
      width: $space-large;
      text-align: center;
    }
    &.active {
      font-weight: 600;
      color: $darkGray;
    }
  }
  .dropdown__list__item:nth-child(1) .dropdown__list__item__link:before { content: '\e80f'; }
  .dropdown__list__item:nth-child(2) .dropdown__list__item__link:before { content: '\e810'; }
  .dropdown__list__item:nth-child(3) .dropdown__list__item__link:before { content: '\e80e'; }
  .dropdown__list__item:nth-child(4) .dropdown__list__item__link:before { content: '\e80d'; }
  .dropdown__list__item:nth-child(5) .dropdown__list__item__link:before { content: '\e811'; }
  .dropdown__list__item:nth-child(6) .dropdown__list__item__link:before { content: '\e813'; }
  .dropdown__list__item:nth-child(7) .dropdown__list__item__link:before { content: '\e812'; }
  .dropdown__list__item:nth-child(8) .dropdown__list__item__link:before { content: '\e814'; }
  .dropdown__list__item:nth-child(9) .dropdown__list__item__link:before { content: '\e815'; }
  .dropdown__list__item:nth-child(10) .dropdown__list__item__link:before { content: '\e816'; }
  .dropdown__list__item:nth-child(11) .dropdown__list__item__link:before { content: '\e817'; }
  .dropdown__list__item:nth-child(12) .dropdown__list__item__link:before { content: '\e819'; }
  .dropdown__list__item:nth-child(13) .dropdown__list__item__link:before { content: '\e81a'; }
  .dropdown__list__item:nth-child(14) .dropdown__list__item__link:before { content: '\e81b'; }
  .dropdown__list__item:nth-child(15) .dropdown__list__item__link:before { content: '\e818'; }
  .dropdown__list__item:nth-child(16) .dropdown__list__item__link:before { content: '\e81c'; }
}


.nav--main-menu--misc {
  float: right;
}

/* Sub-Navigation */
.header__bottom {
  background: $white;
  margin-top: -1px;
  border-top: 1px solid $darkBeige;
  .header__bottom__inner {
    position: relative;
    display: flex;
    @include grid-container();
    @include breakpoint($breakpoint-m-min) {
      @include container-regular();
    }
  }
  @media (max-width: $breakpoint-m-max) {
    &:hover {
      position: relative;
      z-index: 99999;
    }
  }
}
.nav--main-menu--level-3 {
  list-style: none;
  float: right;
  @include grid-container;
  @include breakpoint($breakpoint-m-min) {
    position: relative;
    z-index: 97;
    @include margin(0);
    text-align: right;
  }
  .nav__item {
    float: left;
    display: flex;
    flex-shrink: 0;
    .nav__item__link--abgeordnete:before,
    .nav__item__link--kandidierende:before {
      content: '\e84d';
    }
    .nav__item__link--abstimmungen:before {
      content: '\e836';
    }
    .nav__item__link--petitionen:before {
      content: '\e83c';
    }
    .nav__item__link--wahlrecht:before {
      content: '\e829';
    }
    .nav__item__link--ausschüsse:before {
      content: '\e835';
    }
    .nav__item__link--wahlprogramme:before {
      content: '\e900';
      font-size: 1.1em;
    }
    .nav__item__link--medienpartner:before {
      content: '\e831';
    }
  }
  .nav__item__link {
    font-family: $font-serif;
    line-height: $space;
    will-change: padding, color;
    transition: padding 300ms ease, color 200ms ease-in-out;
    @include padding($space-mobile $space-xsmall-mobile);
    @include breakpoint($breakpoint-xs-min) {
      @include padding($space $space-small);
    }
    @include breakpoint($breakpoint-m-min) {
      @include padding($space ($space*0.4));
    }
    @include breakpoint($breakpoint-l-min) {
      @include padding($space-large ($space-large*0.65));
    }
    &:before {
      font-family: 'awfont';
      line-height: 1em;
      display: inline-block;
      margin-right: 4px;
      width: $space-large;
      text-align: center;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  // active

  .nav__item--active {
    position: relative;
    display: block;
    &:before,
    &:after {
      @include breakpoint($breakpoint-m-min) {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        left: 50%;
        top: calc(100% + 1px);
        border-style: solid;
        border-width: ($space/2) ($space/2) 0 ($space/2);
        @include transform(translate(-50%, 0));
      }
    }
    &:before {
      border-color: transparent $darkBeige transparent transparent;
      @include breakpoint($breakpoint-m-min) {
        border-color: $darkBeige transparent transparent transparent;
      }
    }
    &:after {
      right: calc(100% + #{$space-mobile});
      border-color: transparent $white transparent transparent;
      @include breakpoint($breakpoint-m-min) {
        right: auto;
        top: 100%;
        border-color: $white transparent transparent transparent;
      }
    }
  }
}

/* Subnavigation with swiper integration */

.header__bottom nav {
  width: auto;
  position: relative;
  flex: 1;
  flex-grow: 13;
  overflow: hidden;
  @include grid-container();
  .nav {
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
  }
  .nav__item__link {
    white-space: nowrap;
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0;
    height: auto;
    width: auto;
    padding: 0 $space-xsmall;
    font-size: .6em;
    z-index: 9;
    opacity: 1;
    transform: translate(0,0);
    &:before {
      color: $gray;
      line-height: 50px;
      @include breakpoint($breakpoint-xs-min) {
        line-height: 63px;
      }
      @include breakpoint($breakpoint-l-min) {
        line-height: 80px;
      }
    }
  }
  .swiper-button-next {
    border-left: 1px solid $darkBeige;
  }
  .swiper-button-prev {
    border-right: 1px solid $darkBeige;

  }
}

/* Open Navigation for Mobile devices */
[data-sidebar-container] {
  &:after {
    content: '';
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    z-index: 97;
    @include transition(opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s);
  }
}
.sidebar-open {
  &:after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
  .nav--main-menu--level-1 {
    @include transform(translate3d(0, 0, 0));
  }
}

/* Nav-Trigger for small devices */

.header__navtrigger {
  float: right;
  color: $gray;
  position: relative;
  z-index: 9999999;
  padding: 5px;
  right: $space-small;
  @include margin(($space - 5px) null);
  @include breakpoint($breakpoint-m-min) {
    display: none;
  }
  &:hover {
    color: $darkGray;
    .lines {
      background: $darkGray;
      &:before, &:after {
        background: $darkGray;
      }
    }
  }
}

/* Archive */

.header__subnav__indicator {
  clear: both;
  float: left;
  color: #aaa;
  line-height: 20px;
  font-size: 1.2em;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  border-right: 1px solid #dfdbd2;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  background: #fff;
  will-change: padding;
  transition: padding .3s ease;
  padding: 15px 20px;


  @include breakpoint($breakpoint-xs-min) {
    font-size: 1.4em;
    padding: 20px;
  }
  @include breakpoint($breakpoint-m-min) {
    font-size: 24px;
  }
  @include breakpoint($breakpoint-l-min) {
    padding: 30px 20px;
  }
}

#header.sticky .header__subnav__indicator {
  @include breakpoint($breakpoint-l-min) {
    padding: 20px;
  }
}

.header__subnav__archive {
  @include clearfix();
  flex: 1;
  cursor: pointer;
  vertical-align: middle;
  border-right: 1px solid $darkBeige;
  padding-left: $space-small;
  padding-right: $space + 5;
  background: $white;
  z-index: 49;
  display: table;
  height: 50px;
  will-change: height;
  transition: height 300ms ease;
  flex-shrink: 1;
  @include breakpoint($breakpoint-xs-min) {
    height: 60px;
  }
  @include breakpoint($breakpoint-l-min) {
    height: 80px;
  }
  &:before {
    content: '\e847';
    font-family: awfont;
    font-size: 8px;
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -5px;
    color: $mediumGray;
    @include breakpoint($breakpoint-s-min) {
      right: 10px;
    }
  }
  > span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  @include breakpoint($breakpoint-s-min) {
    padding-right: $space-large;
  }
  @media (min-width: 1363px) {
    padding-left: $space;
  }

  .header__subnav__archive__list {
    position: absolute;
    top: 100%;
    border-top: 1px solid $darkBeige;
    left: 0;
    z-index: 9;
    background: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 8px 10px rgba(0,0,0,.1);
    min-width: 320px;
  }
  .header__subnav__archive__list__item {
    border-bottom: 1px solid $brightGray;
    margin: 0;
    &:last-child {
      border-bottom: 0;
    }

    &.header__subnav__archive__list__item--active {
      a {
        color: $darkGray;
        background: $brightGray;
        position: relative;
        padding-right: 40px;
        &:before {
          content: '';
          position: absolute;
          display: inline-block;
          font-size: 11px;
          line-height: 10px;
          right: 30px;
          top: 50%;
          transform: translate(0,-50%);
        }
        &:after {
          content: '';
          position: absolute;

          width: 6px;
          height: 6px;
          display: inline-block;

          right: 20px;
          top: 50%;
          transform: translate(0,-50%);

          border-radius: 3px;
          background: $darkGray;
        }
      }
    }
  }
  .header__subnav__archive__list__item__link {
    padding: 15px;
    display: block;
    color: $gray;
    &:hover {
      color: $darkGray;
    }
  }

  &.header__subnav__archive--open {
    .header__subnav__archive__list {
      display: block;
    }
    &:before {
      transform: rotate(-180deg);
    }
  }
}


.header__subnav__archive-hint {
  background: $orangeBG;
  max-width: 360px;

  position: absolute;
  left: 10px;
  right: 10px;
  top: calc(100% + 10px);
  border-radius: 4px;
  padding: 15px 45px 15px 15px;
  z-index: 99;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
  opacity: 0;
  pointer-events: none;
  transition: opacity ease 800ms, transform ease 400ms, box-shadow ease 800ms 200ms;
  transform: translate3d(0,20%,0);
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 6px 8px;
    border-color: transparent transparent $orangeBG transparent;
    position: absolute;
    left: 40px;
    bottom: 100%;
    @include breakpoint($breakpoint-m-min) {
      left: 55px;
    }
    @include breakpoint($breakpoint-l-min) {
      left: 65px;
    }
  }
  p {
    color: $white;
    margin-bottom: 0;
  }
  &.header__subnav__archive-hint--in {
    opacity: 1;
    pointer-events: auto;
    transform: translate3d(0,0,0);
    box-shadow: 0 8px 15px 0 rgba(0,0,0,.15);
  }
  .icon-close {
    position: absolute;
    right: 15px;
    top: 18px;
    color: $white;
    font-size: 13px;
    cursor: pointer;
  }
}



.header__subnav__archive.dropdown--open + .header__subnav__archive-hint {
  opacity: 0 !important;
  pointer-events: none;
}


.header__subnav__archive-hint-overlay {
  background: rgba(0,0,0,.3);

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 999;
  transition: opacity ease 800ms;
  &.header__subnav__archive-hint-overlay--in {
    opacity: 1;
  }
}


/* Indicator */

.header__subnav__archive__indicator {
  color: $mediumGray;
  line-height: $space;
  font-size: 1.1em;
  font-family: $font-serif;
  background: transparent;
  text-decoration: none;
  will-change: font-size;
  transition: font-size 200ms ease;
  @include breakpoint($breakpoint-xs-min) {
    font-size: 16px;
  }
  @include breakpoint($breakpoint-m-min) {
    font-size: 19px;
    line-height: 18px;
  }
  @include breakpoint($breakpoint-l-min) {
    font-size: 20px;
    line-height: 20px;
  }
  span {
    display: block;
    font-size: 10px;
    line-height: 10px;
    color: $gray;
    @include breakpoint($breakpoint-l-min) {
      font-size: 12px;
      line-height: 14px;
    }
  }
}


/* Sticky header */

#header.sticky {
  .header__logo {
    @include breakpoint($breakpoint-l-min) {
      @include padding($space-small null 0);
    }
    @include breakpoint($breakpoint-xl-min) {
      @include padding(($space-small - 2) null 0);
    }
  }
  .nav--main-menu--level-1 {
    .nav__item__link {
      @include breakpoint($breakpoint-l-min) {
        @include padding($space ($space-large*0.7) $space (($space-large*0.7)-10));
      }
    }
    .nav__item__trigger {
      @include breakpoint($breakpoint-l-min) {
        @include padding($space $space-small-mobile);
      }
    }
  }
  .nav--main-menu--level-3 {
    .nav__item__link {
      @include breakpoint($breakpoint-l-min) {
        @include padding($space ($space-large*0.65));
      }
    }
  }
  .header__subnav__archive {
    @include breakpoint($breakpoint-l-min) {
      height: 60px;
    }
  }
}