/**
* List definitions
*/

ul {
  @include margin($space null);
}
li {
  @include paragraph();
}

/* Definition List */

.dl {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid $gray;
  position: relative;
  @include paragraph();
}

.dl__dt {
  padding: 0;
  margin: 0;
  padding-top: $space-small-mobile;
  font-weight: 500;
  @include text-overflow();
  @include breakpoint($breakpoint-xs-min) {
    @include padding($space-small-mobile null);
    width: 40%;
    float: left;
    font-weight: 300;
  }
  @include breakpoint($breakpoint-m-min) {
    width: 30%;
    @include padding($space-small null);
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 1px solid $gray;
    margin-top: -$space-small-mobile;
    @include breakpoint($breakpoint-m-min) {
      margin-top: -$space-small;
    }
  }
}
.dl__dd {
  margin: 0 0 $space-xsmall;
  @include breakpoint($breakpoint-xs-min) {
    margin: 0 0 0 40%;
    @include padding($space-small-mobile null);
    padding-left: $space-small-mobile;
  }
  @include breakpoint($breakpoint-m-min) {
    margin: 0 0 0 30%;
    @include padding($space-small null);
  }
  a {
    font-weight: 500;
  }
}

/* Icon-List */
.icon-list {
  @include icon-list();
}

/* Tag-list */
.tag-list {
  margin: 0;
  padding: 0;
  > li {
    margin: 0 $space-xsmall-mobile 0 0;
    list-style: none;
    float: left;
    a {
      padding: 0 $space-xsmall-mobile;
      @include tag($white, $darkBeige, $mediumGray);
      &:before {
        content: '\e840';
        font-family: 'awfont';
        font-size: .8em;
        margin-right: $space-xsmall-mobile;
      }
    }
  }
}

/* Link-list */
.link-list {
  padding: 0;
  margin: 0 0 $space;
  list-style: none;
  @include grid-container();
  @include breakpoint($breakpoint-m-min) {
    @include grid-collapse($neat-grid-large-gutter);
  }
}
.link-list__item {
  padding: $space-xsmall-mobile 0;
  border-bottom: 1px solid $gray;
  margin-bottom: 0;
  @include breakpoint($breakpoint-m-min) {
    @include grid-column(6, $neat-grid-large-gutter);
  }
  a {
    display: block;
    padding: $space-xsmall 0;
    color: $darkGray;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 20px;
    @include transition(color 300ms ease);
    &:after {
      content: '\e825';
      font-family: 'awfont';
      font-size: .8em;
      position: absolute;
      right: $space-xsmall-mobile;
      top: 50%;
      color: $orangeBG;
      @include transition(color 300ms ease);
      @include transform(translate(0,-50%));
    }
    &:hover {
      color: $black;
      &:after {
        color: $orange;
      }
    }
  }
}