/**
* Tooltip
*/

[data-tooltip-content] {
  position: relative;
  z-index: 999;
  &.icon {
    color: $gray;
  }
  &:hover .tooltip {
    opacity: 1;
    transform: translate(-50%,0);
  }
  &:hover .tooltip--right {
    opacity: 1;
    transform: translate(0,-50%);
  }
}
.tooltip {
  position: absolute;
  text-align: center;
  font-family: $font-sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: $darkGray;
  padding: $space;
  width: 260px;
  background: $white;
  opacity: 0;
  pointer-events: none;

  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  will-change: transform, opacity;
  transition: transform 300ms ease 200ms, opacity 300ms ease 200ms;
  &:after {
    content: '';
    position: absolute;
  }
}

.tooltip--popover {
  opacity: 1;
  pointer-events: auto;
}
[data-popover-small] {
  .tooltip {
    width: 200px;
    padding: $space-small;
  }
}


// tooltip alignments

.tooltip--top {
  left: 50%;
  bottom: 100%;
  transform: translate(-50%,-2%);
  margin-bottom: $space-xsmall;
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    @include triangle($space, $white, down);
    transform: translate(-50%,0);
  }
}

.tooltip--right {
  top: 50%;
  right: 100%;
  transform: translate(-2%,-50%);
  margin-right: $space-xsmall;
  @include breakpoint($breakpoint-s-min) {
    margin-right: $space-small;
    width: 380px;
  }
  &:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    @include triangle($space, $white, right);
    transform: translate(0,-50%);
  }
}

// tooltip side

.tooltip--side {
  width: 300px;
  padding: 0;
}
.tooltip__content {
  margin-right: 80px;
  border-right: 1px solid $gray;
  padding: $space-small-mobile $space-small;
  text-align: left;
  h5 {
    font-family: $font-sans-serif;
    font-size: .8em;
    margin-bottom: 0;
  }
  h5 + p {
    font-size: .8em;
    margin: 0;
  }
}
.tooltip__side {
  width: 100px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  padding: $space-small-mobile $space-small;
}
.tooltip__side__indicator {
  font-weight: 800;
  text-transform: uppercase;
  small {
    font-weight: 300;
  }
}
.tooltip__side__info {
  font-size: .5em;
  white-space: nowrap;
}


// Feature hint


.feature-hint {
  background: $orangeBG;
  max-width: 360px;

  position: absolute;
  left: 10px;
  right: 10px;
  top: calc(100% + 10px);
  border-radius: 4px;
  padding: 15px 45px 15px 15px;
  z-index: 99;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
  opacity: 0;
  pointer-events: none;
  transition: opacity ease 800ms, transform ease 400ms, box-shadow ease 800ms 200ms;
  transform: translate3d(0,20%,0);
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 6px 8px;
    border-color: transparent transparent $orangeBG transparent;
    position: absolute;
    left: 40px;
    bottom: 100%;
    @include breakpoint($breakpoint-m-min) {
      left: 55px;
    }
    @include breakpoint($breakpoint-l-min) {
      left: 65px;
    }
  }
  p {
    color: $white;
    margin-bottom: 0;
  }
  &.feature-hint--in {
    opacity: 1;
    pointer-events: auto;
    transform: translate3d(0,0,0);
    box-shadow: 0 8px 15px 0 rgba(0,0,0,.15);
  }
  .icon-close {
    position: absolute;
    right: 15px;
    top: 18px;
    color: $white;
    font-size: 13px;
    cursor: pointer;
  }
}

// feature hint implementation
.dropdown.dropdown--open + .feature-hint {
  opacity: 0;
  pointer-events: none;
}