/**
* Utilities
*
* Helper Classes
*/

/* Accelerate touch behavior */

a,
area,
button,
[role="button"],
input:not([type=range]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* svg-container */

.svg-container {
  width: 100%;
  svg {
      display: block;
      width: 100%;
  }
}

/* Screen-reader only */
.visually-hidden,
.element-invisible,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Local Anchor */

.local-anchor {
  @include breakpoint($breakpoint-l-min) {
    position: relative;
    top: -123px;
    display: block;
    visibility: hidden;
  }
}

/* Links with icons */

.link-icon {
  color: $darkGray;
  font-weight: 600;
  transition: color 300ms ease;
  .icon {
    color: $orange;
    display: inline-block;
  }
  .icon-arrow-right {
    font-size: .7em;
    position: relative;
    top: -.2em;
  }
  &:hover {
    color: $orange;
  }
}

/* Title with options */

.option-title {
  @include grid-column(12);
  @include grid-container();
  h1, h2, h3 {
    margin-top: 2px;
    margin-left: 0 !important;
    width: auto !important;
    margin-bottom: $space-xsmall;
    @include breakpoint($breakpoint-xs-min) {
      float: left;
      margin-bottom: 0;
    }
  }
  .form__item {
    display: block;
    position: relative;
    margin-bottom: 0;
    @include breakpoint($breakpoint-xs-min) {
      float: right;
      width: 260px;
      margin-bottom: 0;
    }
  }
  .btn {
    @include button--mobile-block();
    clear: both;
    @include breakpoint($breakpoint-xs-min) {
      clear: none;
      float: right;
    }
  }
}

/* Tag-Styling */

.tag {
  @include tag($beige, $darkBeige, $mediumGray);
  padding: 3px 5px;
  & + .tag {
    @include breakpoint($breakpoint-s-min) {
      margin-left: 5px;
    }
  }
}

/* party indicator */

.party-indicator {
  color: $darkGray;
  display: inline-block;
  &:before {
    content: '';
    background-color: $gray;
    background-color: attr(data-party-color);
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    @include margin(0px 5px null null);
  }
  &.party-indicator--afd:before { background-color: #1a9fdd; }
  &.party-indicator--cdu-csu:before,
  &.party-indicator--cdu:before,
  &.party-indicator--csu:before { background-color: $black; }
  &.party-indicator--fdp:before { background-color: #feeb34; }
  &.party-indicator--die-linke:before { background-color: #bc3475; }
  &.party-indicator--spd:before { background-color: #df0b25; }
  &.party-indicator--die-grünen:before { background-color: #4a932b; }
}

/* share */

.share {
  padding: $space-large 0;
  border-top: 1px solid $darkBeige;
  border-bottom: 1px solid $darkBeige;
  @include container();
  @include grid-container();
  h3 {
    @include h4();
    font-family: $font-sans-serif;
    padding-left: $space;
    @include breakpoint($breakpoint-m-min) {
      margin: 0;
      float: left;
      line-height: 34px;
    }
  }
  .share__links {
    padding-left: $space;
    @include breakpoint($breakpoint-m-min) {
      padding-right: $space;
      padding-left: 0;
      float: right;
    }
  }
}
.share__links {
  list-style: none;
  margin: 0;
  padding: 0;
  @include grid-container();
}
.share__links__item {
  float: left;
  margin-right: $space-small;
  margin-bottom: 0;
  &:last-child { margin-right: 0; }
}
.share__links__item__link {
  display: block;
  background: $gray;
  color: $white;
  line-height: 34px;
  @include grid-container();
  @include transition(background 300ms ease);
  @include breakpoint($breakpoint-m-min) {
    padding-right: $space-small;
  }
  .icon {
    text-align: center;
    width: 34px;
    height: 34px;
    line-height: 34px;
    display: block;
    float: left;
    background: $gray - 20;
    @include breakpoint($breakpoint-m-min) {
      margin-right: $space-xsmall;
    }
  }
  span {
    display: none;
    @include breakpoint($breakpoint-m-min) {
      display: inline;
    }
  }
  &:hover {
    color: $white;
    background: $gray - 20;
  }
}
.share__links__item--facebook .share__links__item__link {
  background: #6074b7;
  &:hover, .icon { background: #3953a1; }
}
.share__links__item--twitter .share__links__item__link {
  background: #55c5fb;
  &:hover, .icon { background: #25b7f9; }
}
.share__links__item--google .share__links__item__link {
  background: #f96f56;
  &:hover, .icon { background: #fa3f15; }
}
.share__links__item--whatsapp .share__links__item__link {
  background: #71e9a3;
  &:hover, .icon { background: #29d871; }
}

.share__links__item--whatsapp {
  @include breakpoint($breakpoint-s-min) {
    display: none;
  }
}

.share--small {
  @include container-small();
}

/* Intro */

.intro {
  @include padding($space-large null);
  @include container();
  @include breakpoint($breakpoint-m-min) {
    @include padding(($space-large * 2) null);
  }
  > .container {
    position: relative;
  }
  > h1 {
    @include grid-column(12);
    margin-bottom: 0;
  }
  .intro__date {
    color: $gray;
    font-family: $font-serif;
    margin-top: $space-xsmall;
    @media(max-width: $breakpoint-xl-max) {
      @include date-inline();
    }
    @include breakpoint($breakpoint-xl-min) {
      @include date-stacked();
      position: absolute;
      right: 100%;
      top: 0;
      margin-right: $space;
      margin-top: 0;
      width: 60px;
      text-align: center;
      font-size: 2.4em;
    }
    & + p {
      margin-top: $space;
    }
  }
  .intro__left {
    position: relative;
    @include grid-column(12);
    padding-bottom: $space-large;
    @include breakpoint($breakpoint-s-min) {
      @include grid-column(7);
      padding-bottom: 0;
    }
    @include breakpoint($breakpoint-m-min) {
      @include grid-column(7);
      padding-bottom: 0;
    }
    h1 {
      @include text-overflow-multi();
    }
    h1:only-child {
      margin-bottom: 0;
    }
  }
  .intro__right {
    @include grid-column(12);
    @include breakpoint($breakpoint-s-min) {
      @include grid-column(5);
      padding-left: $space-large;
    }
    @include breakpoint($breakpoint-m-min) {
      @include grid-column(4);
      @include grid-push(1);
      padding-left:0;
    }
  }
  h1 + .intro__left,
  h1 + .intro__left + .intro__right,
  h1 + .intro__right,
  h1 + .intro__right + .intro__left {
    padding-top: $space;
  }
  .intro__full {
    @include grid-column(12);
  }
  & + .intro {
    padding-top: 0;
  }
}

/* Intro - Right to left */

.intro--rtl {
  .row {
    @include grid-collapse($neat-grid-rtl);
  }
  .intro__left {
    margin-left: 0;
    @include grid-column(12, $neat-grid-rtl);
    @include breakpoint($breakpoint-s-min) {
      @include grid-column(7, $neat-grid-rtl);
    }
    @include breakpoint($breakpoint-m-min) {
      @include grid-column(7, $neat-grid-rtl);
    }
  }
  .intro__right {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: $space;
    @include grid-column(12, $neat-grid-rtl);
    @include breakpoint($breakpoint-s-min) {
      @include grid-column(5, $neat-grid-rtl);
      margin-bottom: 0;
    }
    @include breakpoint($breakpoint-m-min) {
      @include grid-column(4, $neat-grid-rtl);
      @include grid-push(1, $neat-grid-rtl);
    }
  }
}



/* Pager */

.pager {
  clear: both;
  list-style: none;
  padding: $space 0;
  margin: 0;
  text-align: center;
  position: relative;
  .pager__item {
    display: none;
    width: 32px;
    height: 32px;
    text-align: center;
    background: $white;
    border: 1px solid $darkBeige;
    margin: 0;
    padding: 0;
    cursor: default;
    border-radius: 50%;
    font-size: 13px;
    line-height: 30px;
    overflow: hidden;
    will-change: background;
    transition: background 300ms ease;
    @include breakpoint($breakpoint-s-min) {
      display: inline-block;
      margin: 0 2px;
      line-height: 40px;
      width: 42px;
      height: 42px;
    }
    &:hover {
      background: $beige;
    }
    a {
      color: $darkGray;
      display: block;
      width: 30px;
      height: 30px;
      cursor: pointer;
      @include breakpoint($breakpoint-s-min) {
        width: 40px;
        height: 40px;
      }
    }
    &.pager__item--current {
      background: $beige;
      cursor: default;
      display: inline-block;
    }

    // Only icon

    &.pager__item--next,
    &.pager__item--last,
    &.pager__item--first,
    &.pager__item--previous {
      position: relative;
      display: inline-block;
      &:before {
        content: '';
        font-family: 'awfont';

        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        display: block;
        color: $mediumGray;
        font-size: 9px;
      }
      a {
        text-indent: 110%;
        white-space: nowrap;
        position: relative;
        z-index: 1;
      }
    }

    &.pager__item--first,
    &.pager__item--previous {
      @media(max-width: $breakpoint-s-max) {
        position: absolute;
        left: $space-small;
        top: $space;
      }
    }
    &.pager__item--previous {
      @media(max-width: $breakpoint-s-max) {
        left: 55px;
      }
    }

    &.pager__item--next,
    &.pager__item--last {
      @media(max-width: $breakpoint-s-max) {
        position: absolute;
        right: $space-small;
        top: $space;
      }
    }
    &.pager__item--next {
      @media(max-width: $breakpoint-s-max) {
        right: 55px;
      }
    }

    &.pager__item--ellipsis {
      &:hover {
        background: $white;
      }
    }
    &.pager__item--previous {
      &:before {
        content: '\e804';
      }
    }
    &.pager__item--next {
      &:before {
        content: '\e805';
      }
    }
    &.pager__item--first {
      letter-spacing: -1px;
      &:before {
        content: '\e804 \e804';
      }
    }
    &.pager__item--last {
      letter-spacing: -1px;
      &:before {
        content: '\e805 \e805';
      }
    }
  }
}


/* Listen */

/* Inline Links */

.links {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: 500;
  &.inline {
    li {
      display: inline-block;
      margin-right: $space-small-mobile;
      &:before {
        content: '\e805';
        font-family: 'awfont';
        font-size: .7em;
        line-height: 2.2em;
        color: $darkGray;
        display: block;
        float: left;
        margin-right: 5px;
      }
    }
  }
}

/* Read more */
.readmore {
  position: relative;
  max-height: 300px;
  overflow: hidden;
  padding-bottom: $space-large * 2;
}
.readmore__trigger {
  position: absolute;
  background: $white;
  left: 0;
  right: 0;
  bottom: 0;
  padding: $space-xsmall 0;
  border-top: 1px solid $gray + 50;
  border-bottom: 1px solid $gray + 50;
  text-align: center;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    margin-bottom: 1px;
    height: 200px;
    @include background(linear-gradient(rgba(255,255,255,0), $white) left repeat);
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    margin-bottom: 1px;
    height: 20px;
    @include background(linear-gradient(transparent, rgba(0,0,0,.2)) left repeat);
    opacity: .15;
  }
}
.readmore__trigger__less {
  display: none;
}
.readMore--expanded {
  height: auto;
  max-height: none;
  overflow: visible;
  .readmore__trigger {
    &:before {
      opacity: 0;
    }
    &:after {
      opacity: 0;
    }
  }
  .readmore__trigger__more {
    display: none;
  }
  .readmore__trigger__less {
    display: inline-block;
  }
}
.readMore--expanded-initial {
  padding-bottom: 0;
}

/* Info-Elements */

.info-element {
  margin-bottom: $space-large;
}
.info-element--icon {
  padding-left: $space-large;
  position: relative;
  @include breakpoint($breakpoint-m-min) {
    padding-left: $space-large * 2;
  }
  &:before {
    content: '\e829';
    font-family: 'awfont';

    position: absolute;
    left: $space-xsmall-mobile;
    top: 3px;
    opacity: .6;
    @include breakpoint($breakpoint-m-min) {
      left: $space;
      font-size: 1.2em;
    }
  }
}

/* Loading overlay */

.loading-overlay {
  position: relative;
  &:before {
    content: '';
    opacity: 0;
    background: $beige;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    z-index: 9;
    transition: opacity 600ms ease;
    pointer-events: none;
  }
  &.loading-overlay--active {
    &:before {
      opacity: .8;
      pointer-events: inherit;
    }
    .loading-overlay__loader {
      opacity: 1;
    }
  }
}
.loading-overlay__loader {
  background: $white;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  padding: $space-xsmall-mobile;
  transition: opacity 600ms ease 200ms;
  position: absolute;
  left: 50%;
  top: 100px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 9999;
  opacity: 0;
  transform: translate3d(-50%, 0, 0);
  @include breakpoint($breakpoint-s-min) {
    top: 150px;
  }
  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: center center;
  }
  svg:first-child {
    animation-name: rotationCenter;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
  svg:last-child {
    animation-name: rotationCenterDelayed;
    animation-duration: 2s;
    animation-delay: 0;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
}

/* Tagadelic */

.tagadelic.level1 { font-size : 1em; }
.tagadelic.level2 { font-size : 1.2em; }
.tagadelic.level3 { font-size : 1.4em; }
.tagadelic.level4 { font-size : 1.6em; }
.tagadelic.level5 { font-size : 1.8em; }
.tagadelic.level6 { font-size : 2em; }
.tagadelic.level7 { font-size : 2.2em; }
.tagadelic.level8 { font-size : 2.4em; }
.tagadelic.level9 { font-size : 2.6em; }
.tagadelic.level10 { font-size : 2.8em; }

/* Burger / Close Button */

$button-size : 30px;
$transition-length: .3s;

.lines-button {
  display: inline-block;
  padding: 0;
  border: 0;
  cursor: pointer;
  user-select: none;
  background: none;
  outline: none;
  transition: .3s;
}

@mixin line() {
  display: inline-block;
  width: $button-size - 4;
  height: 2px;
  background-color: $gray;
  @include transition($transition-length);
}
.lines {
  @include line();
  top: -$button-size/10;
  position: relative;
  &:before, &:after {
    content: '';
    position: absolute;
    left: 0;
    @include transform-origin($button-size/14 center);
    @include line();
  }
  &:before { top: $button-size/4; }
  &:after { top: -$button-size/4; }
}
.lines-button.x.lines-button-close .lines {
    background-color: transparent;
    &:before, &:after {
        @include transform-origin(50% 50%);
        top: 0;
        background-color: $darkGray;
        width: $button-size;
    }
    &:before {
        @include transform(rotate3d(0,0,1,45deg));
    }
    &:after {
        @include transform(rotate3d(0,0,1,-45deg));
    }
}


/* Animations */

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }